apps/wf/wf03-document-management.json
{"name":"wf03 - 单据管理","nodes":[{"parameters":{"httpMethod":"POST","path":"wms/document/create","responseMode":"responseNode","options":{"rawBody":false}},"id":"c0000003-0001-0001-0001-000000000001","name":"Webhook Create","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-600,200],"webhookId":"wms-document-create"},{"parameters":{"jsCode":"const body = $input.item.json.body;\nif (!body.doc_type || !body.warehouse_code || !body.created_by) {\n  return { json: { _error: true, success: false, message: '缺少必要字段: doc_type, warehouse_code, created_by' } };\n}\nconst type = body.doc_type;\nif (type !== 'IC' && type !== 'LM') {\n  return { json: { _error: true, success: false, message: '只有IC和LM类型可以在WMS中创建' } };\n}\nconst now = new Date();\nconst dateStr = now.getFullYear() + String(now.getMonth()+1).padStart(2,'0') + String(now.getDate()).padStart(2,'0');\nconst prefix = type + dateStr;\nreturn { json: { _error: false, type: type, prefix: prefix, warehouse: body.warehouse_code, user: body.created_by, remarks: body.remarks || '' } };"},"id":"c0000003-0001-0001-0001-000000000002","name":"Validate Create","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._error }}","value2":true}]}},"id":"c0000003-0001-0001-0001-000000000003","name":"Has Error Create?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, message: $json.message }) }}","options":{}},"id":"c0000003-0001-0001-0001-000000000004","name":"Error Response Create","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,60]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO wms.wms_id_sequences (seq_key, next_val) VALUES ($1, 1) ON CONFLICT (seq_key) DO UPDATE SET next_val = wms.wms_id_sequences.next_val + 1 RETURNING next_val AS seq_num","options":{"queryReplacement":"={{ [$json.prefix] }}"}},"id":"c0000003-0001-0001-0001-000000000005","name":"Get Next Number","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[60,340],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"jsCode":"const prev = $('Validate Create').first().json;\n// seq_num: ON CONFLICT 时 RETURNING next_val 返回递增值\n// 首次 INSERT 时 RETURNING 返回初始值1\nconst seqNum = $input.first().json.seq_num || 1;\nconst docNumber = prev.prefix + String(seqNum).padStart(3, '0');\nreturn { json: { ...prev, doc_number: docNumber } };"},"id":"c0000003-0001-0001-0001-000000000006","name":"Build Doc Number","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,340]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO wms.wms_documents (company_code, doc_type, doc_number, status, wms_status, warehouse_code, created_by, doc_date, remarks) VALUES ($1, $2, $3, 'draft', 'pending', $4, $5, CURRENT_DATE, $6)","options":{"queryReplacement":"={{ [$env.DP_COMPANY_CODE, $json.type, $json.doc_number, $json.warehouse, $json.user, $json.remarks] }}"}},"id":"c0000003-0001-0001-0001-000000000007","name":"Insert Document","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[500,340],"alwaysOutputData":true,"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, doc_number: $('Build Doc Number').first().json.doc_number, message: '单据创建成功' }) }}","options":{}},"id":"c0000003-0001-0001-0001-000000000008","name":"Create Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,340]},{"parameters":{"httpMethod":"POST","path":"wms/document/complete","responseMode":"responseNode","options":{"rawBody":false}},"id":"c0000003-0002-0001-0001-000000000001","name":"Webhook Complete","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-600,700],"webhookId":"wms-document-complete"},{"parameters":{"jsCode":"const body = $input.item.json.body;\nif (!body.doc_number || !body.doc_type) {\n  return { json: { _error: true, success: false, message: '缺少doc_number或doc_type' } };\n}\nreturn { json: { _error: false, doc_number: body.doc_number, doc_type: body.doc_type, performed_by: body.performed_by || '' } };"},"id":"c0000003-0002-0001-0001-000000000002","name":"Validate Complete","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,700]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._error }}","value2":true}]}},"id":"c0000003-0002-0001-0001-000000000003","name":"Has Error Complete?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,700]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, message: $json.message }) }}","options":{}},"id":"c0000003-0002-0001-0001-000000000004","name":"Error Response Complete","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,560]},{"parameters":{"operation":"executeQuery","query":"UPDATE wms.wms_documents SET status = 'completed', wms_status = 'completed' WHERE company_code = $1 AND doc_type = $2 AND doc_number = $3 AND wms_status IN ('pending', 'in_progress')","options":{"queryReplacement":"={{ [$env.DP_COMPANY_CODE, $json.doc_type, $json.doc_number] }}"}},"id":"c0000003-0002-0001-0001-000000000005","name":"Update Complete","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[60,840],"alwaysOutputData":true,"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: '单据已完成' }) }}","options":{}},"id":"c0000003-0002-0001-0001-000000000006","name":"Complete Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[280,840]},{"parameters":{"httpMethod":"POST","path":"wms/document/mark-exported","responseMode":"responseNode","options":{"rawBody":false}},"id":"c0000003-0003-0001-0001-000000000001","name":"Webhook Export","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-600,1200],"webhookId":"wms-document-export"},{"parameters":{"jsCode":"const body = $input.item.json.body;\nif (!body.ids || !Array.isArray(body.ids) || body.ids.length === 0) {\n  return { json: { _error: true, success: false, message: '缺少ids数组' } };\n}\nconst ids = body.ids.map(function(id) { return parseInt(id); }).filter(function(id) { return !isNaN(id); });\nif (ids.length === 0) {\n  return { json: { _error: true, success: false, message: 'ids必须包含有效的数字ID' } };\n}\nreturn { json: { _error: false, ids: ids, idList: ids.join(',') } };"},"id":"c0000003-0003-0001-0001-000000000002","name":"Validate Export","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,1200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._error }}","value2":true}]}},"id":"c0000003-0003-0001-0001-000000000003","name":"Has Error Export?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,1200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, message: $json.message }) }}","options":{}},"id":"c0000003-0003-0001-0001-000000000004","name":"Error Response Export","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,1060]},{"parameters":{"operation":"executeQuery","query":"UPDATE wms.wms_documents SET status = 'exported', wms_status = 'exported', exported_at = NOW(), export_batch = CONCAT('EXP-', TO_CHAR(NOW(), 'YYYYMMDDHH24MI')) WHERE company_code = $1 AND id = ANY(string_to_array($2, ',')::int[]) AND wms_status = 'completed'","options":{"queryReplacement":"={{ [$env.DP_COMPANY_CODE, $json.idList] }}"}},"id":"c0000003-0003-0001-0001-000000000005","name":"Update Exported","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[60,1340],"alwaysOutputData":true,"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: '已标记为已导出' }) }}","options":{}},"id":"c0000003-0003-0001-0001-000000000006","name":"Export Success","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[280,1340]}],"pinData":{},"connections":{"Webhook Create":{"main":[[{"node":"Validate Create","type":"main","index":0}]]},"Validate Create":{"main":[[{"node":"Has Error Create?","type":"main","index":0}]]},"Has Error Create?":{"main":[[{"node":"Error Response Create","type":"main","index":0}],[{"node":"Get Next Number","type":"main","index":0}]]},"Get Next Number":{"main":[[{"node":"Build Doc Number","type":"main","index":0}]]},"Build Doc Number":{"main":[[{"node":"Insert Document","type":"main","index":0}]]},"Insert Document":{"main":[[{"node":"Create Success","type":"main","index":0}]]},"Webhook Complete":{"main":[[{"node":"Validate Complete","type":"main","index":0}]]},"Validate Complete":{"main":[[{"node":"Has Error Complete?","type":"main","index":0}]]},"Has Error Complete?":{"main":[[{"node":"Error Response Complete","type":"main","index":0}],[{"node":"Update Complete","type":"main","index":0}]]},"Update Complete":{"main":[[{"node":"Complete Success","type":"main","index":0}]]},"Webhook Export":{"main":[[{"node":"Validate Export","type":"main","index":0}]]},"Validate Export":{"main":[[{"node":"Has Error Export?","type":"main","index":0}]]},"Has Error Export?":{"main":[[{"node":"Error Response Export","type":"main","index":0}],[{"node":"Update Exported","type":"main","index":0}]]},"Update Exported":{"main":[[{"node":"Export Success","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1"},"tags":[{"name":"WMS"}]}