apps/wf/wf05-item-export-dashboard.json
{"name": "wf05 - 物料/导出/仪表板", "nodes": [{"parameters": {"httpMethod": "GET", "path": "wms/item", "responseMode": "responseNode", "options": {}}, "id": "c0000005-0001-0001-0001-000000000001", "name": "Webhook Item", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [-600, 200], "webhookId": "wms-item"}, {"parameters": {"jsCode": "const req = $input.item.json;\nlet code = '';\nif (req.query && req.query.code) {\n  code = req.query.code;\n} else {\n  const url = req.headers && req.headers['x-original-url'] ? req.headers['x-original-url'] : (req.url || '');\n  const parts = url.split('/');\n  const lastPart = parts[parts.length - 1];\n  code = lastPart ? lastPart.split('?')[0] : '';\n}\ncode = decodeURIComponent(code).trim();\nif (!code || code === 'item' || code === 'undefined') {\n  return { json: { _error: true, success: false, message: '请提供物料编号' } };\n}\n// 安全: SAP物料号白名单 (字母/数字/连字符/下划线/点/空格, 最长50字符)\nif (!/^[A-Za-z0-9\\-_.\\/ ]{1,50}$/.test(code)) {\n  return { json: { _error: true, success: false, message: '物料编号格式无效: ' + code.substring(0, 20) } };\n}\n// 安全加固: 纵深防御，移除潜在危险字符\ncode = code.replace(/['\"\\\\;]/g, '');\nreturn { json: { _error: false, code: code } };"}, "id": "c0000005-0001-0001-0001-000000000002", "name": "提取物料号", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-380, 200]}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ $json._error }}", "value2": true}]}}, "id": "c0000005-0001-0001-0001-000000000003", "name": "Has Error?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [-160, 200]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}", "options": {}}, "id": "c0000005-0001-0001-0001-000000000004", "name": "Error Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [60, 60]}, {"parameters": {"operation": "executeQuery", "query": "SELECT item_code, item_name, uom FROM wms.wms_items_cache WHERE item_code = $1 LIMIT 1", "options": {"queryReplacement": "={{ [$json.code] }}"}}, "id": "c0000005-0001-0001-0001-000000000022", "name": "查缓存", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [60, 340], "alwaysOutputData": true, "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ $json.item_code ? true : false }}", "value2": true}]}}, "id": "c0000005-0001-0001-0001-000000000023", "name": "有缓存?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [280, 340]}, {"parameters": {"jsCode": "const item = $input.first().json;\nreturn { json: {\n  success: true,\n  item: {\n    itemCode: item.item_code,\n    itemName: item.item_name || '',\n    uom: item.uom || '',\n    barcode: '',\n    onHand: 0,\n    committed: 0,\n    onOrder: 0,\n    source: 'cache'\n  }\n}};"}, "id": "c0000005-0001-0001-0001-000000000024", "name": "格式化缓存", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 240]}, {"parameters": {"operation": "executeQuery", "query": "={{ 'SET NOCOUNT ON; SELECT ItemCode, ItemName, InvntryUom AS uom, CodeBars AS barcode, OnHand AS onHand, IsCommited AS committed, OnOrder AS onOrder FROM OITM WITH (NOLOCK) WHERE ItemCode = \\'' + $('提取物料号').item.json.code.replace(/'/g, \"''\") + '\\'' }}", "options": {}}, "id": "c0000005-0001-0001-0001-000000000005", "name": "SAP查询", "type": "n8n-nodes-base.microsoftSql", "typeVersion": 1, "position": [500, 460], "alwaysOutputData": true, "credentials": {"microsoftSql": {"id": "__CREDENTIAL_MSSQL_ID__", "name": "__CREDENTIAL_MSSQL_NAME__"}}}, {"parameters": {"jsCode": "const rows = $input.all();\nconst r = (rows && rows.length > 0 && rows[0].json) ? rows[0].json : null;\nif (!r || !r.ItemCode) {\n  return { json: { success: false, message: '未找到该物料' } };\n}\nreturn { json: {\n  success: true,\n  item: {\n    itemCode: r.ItemCode,\n    itemName: r.ItemName || '',\n    uom: r.uom || '',\n    barcode: r.barcode || '',\n    onHand: parseFloat(r.onHand) || 0,\n    committed: parseFloat(r.committed) || 0,\n    onOrder: parseFloat(r.onOrder) || 0,\n    source: 'sap'\n  }\n}};"}, "id": "c0000005-0001-0001-0001-000000000006", "name": "格式化SAP", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [720, 460]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "c0000005-0001-0001-0001-000000000007", "name": "Respond Item", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [940, 340]}, {"parameters": {"httpMethod": "GET", "path": "wms/export", "responseMode": "responseNode", "options": {}}, "id": "c0000005-0002-0001-0001-000000000001", "name": "Webhook Export", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [-600, 800], "webhookId": "wms-export"}, {"parameters": {"jsCode": "// V20: 参数化查询重构 — 消除 SQL 注入风险\nconst req = $input.item.json;\nconst docType = (req.query && req.query.type) ? req.query.type : '';\nconst ids = (req.query && req.query.ids) ? req.query.ids : '';\n// ids 仍然做数字过滤作为额外防护层\nconst safeIds = ids ? ids.replace(/[^0-9,]/g, '') : '';\nreturn { json: { docType: docType, idList: safeIds } };"}, "id": "c0000005-0002-0001-0001-000000000002", "name": "Extract Export Params", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-380, 800]}, {"parameters": {"operation": "executeQuery", "query": "SELECT d.doc_type, d.doc_number, d.sap_doc_num, COALESCE(dl.warehouse_code, d.warehouse_code) AS warehouse_code, d.wms_status, d.doc_date,\n       d.created_by, dl.line_num, dl.item_code,\n       dl.item_name,\n       COALESCE(NULLIF(dl.uom, ''), ic.uom, '') AS uom,\n       dl.planned_qty, dl.actual_qty, dl.bin_location, COALESCE(t.batch_number, dl.batch_number, '') AS batch_number, dl.serial_number,\n       dl.from_bin, dl.to_bin,\n       COALESCE(TO_CHAR(t.transaction_time, 'YYYY-MM-DD HH24:MI:SS'), '') AS transaction_time, t.from_bin AS tx_from_bin, t.bin_location AS tx_to_bin, t.quantity AS tx_qty, t.performed_by AS tx_operator, t.from_warehouse AS tx_from_warehouse, t.warehouse_code AS tx_warehouse_code\nFROM wms.wms_documents d\nINNER JOIN wms.wms_document_lines dl ON d.id = dl.document_id LEFT JOIN wms.wms_items_cache ic ON dl.item_code = ic.item_code\nLEFT JOIN wms.wms_transactions t ON d.id = t.document_id AND dl.id = t.line_id\nWHERE d.company_code = $1 AND ($2 = '' OR $2 = 'ALL' OR d.doc_type = $2) AND ($3 = '' OR d.id = ANY(string_to_array($3, ',')::int[]))\nAND dl.actual_qty <> 0\nORDER BY d.doc_type, d.wms_status, d.created_by, t.transaction_time DESC, COALESCE(dl.warehouse_code, d.warehouse_code), d.doc_number, dl.item_code", "options": {"queryReplacement": "={{ [$env.DP_COMPANY_CODE, $json.docType, $json.idList] }}"}}, "id": "c0000005-0002-0001-0001-000000000003", "name": "Query Export Data", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-160, 800], "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}, "alwaysOutputData": true}, {"parameters": {"jsCode": "const rows = $input.all();\nconst headers = ['doc_type', 'doc_number', 'sap_doc_num', 'warehouse_code', 'wms_status', 'doc_date', 'created_by', 'line_num', 'item_code', 'item_name', 'uom', 'planned_qty', 'actual_qty', 'bin_location', 'direction', 'batch_number', 'serial_number', 'operator', 'transaction_time'];\nconst csvLines = [headers.join(',')];\nlet dataCount = 0;\nconst esc = (v) => { if (v === null || v === undefined) v = ''; return '\"' + String(v).replace(/\"/g, '\"\"') + '\"'; };\nfor (const row of rows) {\n  const r = row.json;\n  if (!r || !r.doc_type) continue;\n  if ((r.doc_type === 'LM' || r.doc_type === 'TR') && (r.tx_from_bin || r.tx_from_warehouse)) {\n    // LM/TR借贷拆分: 贷行(出) + 借行(入)\n    const fromWhs = r.tx_from_warehouse || r.warehouse_code || ''; const toWhs = r.tx_warehouse_code || r.warehouse_code || ''; const base = [esc(r.doc_type), esc(r.doc_number), esc(r.sap_doc_num), esc(fromWhs), esc(r.wms_status), esc(r.doc_date), esc(r.created_by), esc(r.line_num), esc(r.item_code), esc(r.item_name), esc(r.uom), esc(r.planned_qty)];\n    const txQty = Number(r.tx_qty) || Number(r.actual_qty) || 0;\n    // 贷行(出): 负数, 源库位\n    csvLines.push([...base, esc(-txQty), esc(r.tx_from_bin), esc('贷(出)'), esc(r.batch_number), esc(r.serial_number), esc(r.tx_operator || r.created_by), esc(r.transaction_time)].join(','));\n    dataCount++;\n    // 借行(入): 正数, 目标库位\n    csvLines.push([...base.slice(0, 3), esc(toWhs), ...base.slice(4), esc(txQty), esc(r.tx_to_bin || r.bin_location || ''), esc('借(入)'), esc(r.batch_number), esc(r.serial_number), esc(r.tx_operator || r.created_by), esc(r.transaction_time)].join(','));\n    dataCount++;\n  } else {\n    // V17.1: 非LM类型 — 有transaction时用tx_qty(单次数量), 无transaction时用actual_qty(行累计)\n    const qty = (r.tx_qty !== null && r.tx_qty !== undefined) ? r.tx_qty : r.actual_qty;\n    const line = [esc(r.doc_type), esc(r.doc_number), esc(r.sap_doc_num), esc(r.warehouse_code), esc(r.wms_status), esc(r.doc_date), esc(r.created_by), esc(r.line_num), esc(r.item_code), esc(r.item_name), esc(r.uom), esc(r.planned_qty), esc(qty), esc(r.bin_location), esc(''), esc(r.batch_number), esc(r.serial_number), esc(r.tx_operator || r.created_by), esc(r.transaction_time)];\n    csvLines.push(line.join(','));\n    dataCount++;\n  }\n}\nreturn { json: { csv: '\\uFEFF' + csvLines.join('\\n'), count: dataCount } };"}, "id": "c0000005-0002-0001-0001-000000000004", "name": "Generate CSV", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 800]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: true, csv: $json.csv, count: $json.count }) }}", "options": {"responseHeaders": {"entries": [{"name": "Content-Type", "value": "application/json; charset=utf-8"}]}}}, "id": "c0000005-0002-0001-0001-000000000005", "name": "Respond Export", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [280, 800]}, {"parameters": {"httpMethod": "GET", "path": "wms/dashboard", "responseMode": "responseNode", "options": {}}, "id": "c0000003-0001-0001-0001-000000000001", "name": "Webhook Dashboard", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [-600, 1200], "webhookId": "wms-dashboard"}, {"parameters": {"operation": "executeQuery", "query": "SELECT\n  (SELECT COUNT(*) FROM wms.wms_transactions WHERE company_code = $1 AND DATE(transaction_time) = CURRENT_DATE) AS today_transactions,\n  (SELECT COUNT(*) FROM wms.wms_documents WHERE company_code = $1 AND wms_status = 'in_progress') AS in_progress,\n  (SELECT COUNT(*) FROM wms.wms_documents WHERE company_code = $1 AND wms_status = 'completed' AND DATE(created_at) = CURRENT_DATE) AS today_completed,\n  (SELECT COUNT(*) FROM wms.wms_documents d WHERE d.company_code = $1 AND d.wms_status NOT IN ('completed','exported') AND EXISTS (SELECT 1 FROM wms.wms_transactions tx WHERE tx.document_id = d.id)) AS pending_export,\n  COALESCE((SELECT COUNT(*) FROM wms.wms_stock_snapshot WHERE snapshot_date = (CURRENT_DATE - 1) AND company_code = $1), 0) AS yesterday_snapshot_count,\n  COALESCE(EXTRACT(EPOCH FROM (NOW() - (SELECT MAX(synced_at) FROM wms.wms_items_cache)))/3600, 9999) AS items_sync_hours_ago,\n  COALESCE(EXTRACT(EPOCH FROM (NOW() - (SELECT MAX(synced_at) FROM wms.wms_locations_cache)))/3600, 9999) AS locations_sync_hours_ago,\n  COALESCE(EXTRACT(EPOCH FROM (NOW() - (SELECT MAX(synced_at) FROM wms.wms_bins_cache)))/3600, 9999) AS bins_sync_hours_ago", "options": {"queryReplacement": "={{ [$env.DP_COMPANY_CODE] }}"}}, "id": "c0000003-0001-0001-0001-000000000002", "name": "Query Stats", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-380, 1200], "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"jsCode": "const row = $input.first().json;\nreturn { json: {\n  success: true,\n  stats: {\n    today_transactions: parseInt(row.today_transactions) || 0,\n    in_progress: parseInt(row.in_progress) || 0,\n    today_completed: parseInt(row.today_completed) || 0,\n    pending_export: parseInt(row.pending_export) || 0\n  },\n  sync_status: {\n    has_yesterday_snapshot: parseInt(row.yesterday_snapshot_count) > 0,\n    items_sync_hours_ago: parseFloat(row.items_sync_hours_ago) || 9999,\n    locations_sync_hours_ago: parseFloat(row.locations_sync_hours_ago) || 9999,\n    bins_sync_hours_ago: parseFloat(row.bins_sync_hours_ago) || 9999\n  }\n}};"}, "id": "c0000003-0001-0001-0001-000000000003", "name": "Format Dashboard", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [-160, 1200]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "c0000003-0001-0001-0001-000000000004", "name": "Respond Dashboard", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [60, 1200]}, {"parameters": {"httpMethod": "GET", "path": "wms/sync/check", "responseMode": "responseNode", "options": {}}, "id": "s0500001-sync-check-0001", "name": "Webhook SyncCheck", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [-800, 1200], "webhookId": "wms-sync-check"}, {"parameters": {"operation": "executeQuery", "query": "={{ \"SET NOCOUNT ON; SELECT CONVERT(VARCHAR(19), (SELECT MAX(UpdateDate) FROM OITM WITH (NOLOCK)), 120) AS sap_items_date, CONVERT(VARCHAR(19), (SELECT MAX(UpdateDate) FROM OWHS WITH (NOLOCK)), 120) AS sap_locations_date, CONVERT(VARCHAR(19), (SELECT MAX(CreateDate) FROM OBIN WITH (NOLOCK)), 120) AS sap_bins_date, CONVERT(VARCHAR(19), (SELECT MAX(d) FROM (SELECT MAX(UpdateDate) AS d FROM ORDR WITH (NOLOCK) UNION ALL SELECT MAX(UpdateDate) FROM OPOR WITH (NOLOCK) UNION ALL SELECT MAX(UpdateDate) FROM OWOR WITH (NOLOCK)) x), 120) AS sap_oms_date\" }}", "options": {}}, "id": "s0500001-sync-check-0002", "name": "SAP查询更新日期", "type": "n8n-nodes-base.microsoftSql", "typeVersion": 1, "position": [-500, 1200], "alwaysOutputData": true, "credentials": {"microsoftSql": {"id": "__CREDENTIAL_MSSQL_ID__", "name": "__CREDENTIAL_MSSQL_NAME__"}}}, {"parameters": {"operation": "executeQuery", "query": "SELECT TO_CHAR((SELECT MAX(synced_at) FROM wms.wms_items_cache), 'YYYY-MM-DD HH24:MI:SS') AS pg_items_synced, TO_CHAR((SELECT MAX(synced_at) FROM wms.wms_locations_cache), 'YYYY-MM-DD HH24:MI:SS') AS pg_locations_synced, TO_CHAR((SELECT MAX(synced_at) FROM wms.wms_bins_cache), 'YYYY-MM-DD HH24:MI:SS') AS pg_bins_synced, TO_CHAR((SELECT MAX(snapshot_date) FROM wms.wms_stock_snapshot WHERE company_code = $1), 'YYYY-MM-DD') AS latest_snapshot_date, (SELECT COUNT(*) FROM wms.wms_stock_snapshot WHERE company_code = $1) AS snapshot_count, TO_CHAR((SELECT MAX(sap_update_date::timestamp) FROM oms.orders WHERE company_code = $1), 'YYYY-MM-DD HH24:MI:SS') AS pg_oms_synced", "options": {"queryReplacement": "={{ [$env.DP_COMPANY_CODE] }}"}}, "id": "s0500001-sync-check-0003", "name": "PG查询同步日期", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [-200, 1200], "alwaysOutputData": true, "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"jsCode": "// V2: 比较 SAP 更新日期 vs PG 同步日期 (含 OMS + 库存窗口修复)\nconst sapData = $('SAP查询更新日期').first().json;\nconst pgData = $input.first().json;\n\nfunction needSync(sapDate, pgSynced) {\n  if (!sapDate) return false;\n  if (!pgSynced) return true;\n  return new Date(sapDate) > new Date(pgSynced);\n}\n\n// 库存: 最新快照日期 < 昨天 → 需要同步\nconst yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nconst yesterdayStr = yesterday.toISOString().split('T')[0];\n\nreturn { json: {\n  success: true,\n  items: {\n    need_sync: needSync(sapData.sap_items_date, pgData.pg_items_synced),\n    sap_date: sapData.sap_items_date || null,\n    pg_synced: pgData.pg_items_synced || null\n  },\n  locations: {\n    need_sync: needSync(sapData.sap_locations_date, pgData.pg_locations_synced),\n    sap_date: sapData.sap_locations_date || null,\n    pg_synced: pgData.pg_locations_synced || null\n  },\n  bins: {\n    need_sync: needSync(sapData.sap_bins_date, pgData.pg_bins_synced),\n    sap_date: sapData.sap_bins_date || null,\n    pg_synced: pgData.pg_bins_synced || null\n  },\n  stock: {\n    need_sync: !pgData.latest_snapshot_date || pgData.latest_snapshot_date < yesterdayStr,\n    latest_snapshot: pgData.latest_snapshot_date || null,\n    snapshot_count: parseInt(pgData.snapshot_count) || 0\n  },\n  oms: {\n    need_sync: needSync(sapData.sap_oms_date, pgData.pg_oms_synced),\n    sap_date: sapData.sap_oms_date || null,\n    pg_synced: pgData.pg_oms_synced || null\n  }\n}};"}, "id": "s0500001-sync-check-0004", "name": "比较同步状态", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [100, 1200]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "s0500001-sync-check-0005", "name": "Respond Check", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [400, 1200]}], "pinData": {}, "connections": {"Webhook Item": {"main": [[{"node": "提取物料号", "type": "main", "index": 0}]]}, "提取物料号": {"main": [[{"node": "Has Error?", "type": "main", "index": 0}]]}, "Has Error?": {"main": [[{"node": "Error Response", "type": "main", "index": 0}], [{"node": "查缓存", "type": "main", "index": 0}]]}, "查缓存": {"main": [[{"node": "有缓存?", "type": "main", "index": 0}]]}, "有缓存?": {"main": [[{"node": "格式化缓存", "type": "main", "index": 0}], [{"node": "SAP查询", "type": "main", "index": 0}]]}, "格式化缓存": {"main": [[{"node": "Respond Item", "type": "main", "index": 0}]]}, "SAP查询": {"main": [[{"node": "格式化SAP", "type": "main", "index": 0}]]}, "格式化SAP": {"main": [[{"node": "Respond Item", "type": "main", "index": 0}]]}, "Webhook Export": {"main": [[{"node": "Extract Export Params", "type": "main", "index": 0}]]}, "Extract Export Params": {"main": [[{"node": "Query Export Data", "type": "main", "index": 0}]]}, "Query Export Data": {"main": [[{"node": "Generate CSV", "type": "main", "index": 0}]]}, "Generate CSV": {"main": [[{"node": "Respond Export", "type": "main", "index": 0}]]}, "Webhook Dashboard": {"main": [[{"node": "Query Stats", "type": "main", "index": 0}]]}, "Query Stats": {"main": [[{"node": "Format Dashboard", "type": "main", "index": 0}]]}, "Format Dashboard": {"main": [[{"node": "Respond Dashboard", "type": "main", "index": 0}]]}, "Webhook SyncCheck": {"main": [[{"node": "SAP查询更新日期", "type": "main", "index": 0}]]}, "SAP查询更新日期": {"main": [[{"node": "PG查询同步日期", "type": "main", "index": 0}]]}, "PG查询同步日期": {"main": [[{"node": "比较同步状态", "type": "main", "index": 0}]]}, "比较同步状态": {"main": [[{"node": "Respond Check", "type": "main", "index": 0}]]}}, "active": true, "settings": {"executionOrder": "v1"}, "tags": [{"name": "WMS"}]}