apps/wf/wf07-locations-sync.json
{
  "name": "wf07 - 仓库缓存同步",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 20,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "c0000008-0001-0001-0001-000000000001",
      "name": "Cron 20:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        832
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wms/sync/locations",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c0000008-0001-0001-0001-000000000002",
      "name": "Webhook Sync Locations",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        80,
        1024
      ],
      "webhookId": "wms-sync-locations"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(synced_at) AS last_sync FROM wms.wms_locations_cache",
        "options": {}
      },
      "id": "c0000008-0001-0001-0001-000000000003",
      "name": "读取同步锚点",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        304,
        928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const row = $input.first().json;\nlet anchorDate = row.last_sync;\nif (!anchorDate) {\n    const fallback = new Date();\n    fallback.setHours(fallback.getHours() - 1);\n    anchorDate = fallback.toISOString();\n}\nconst d = new Date(anchorDate);\nif (isNaN(d.getTime())) {\n  throw new Error('无效日期: ' + String(anchorDate).substring(0, 30));\n}\nconst pad = (n) => n < 10 ? '0' + n : n;\nconst formatted = `${d.getFullYear()}-${pad(d.getMonth() + 1)}-${pad(d.getDate())} ${pad(d.getHours())}:${pad(d.getMinutes())}:${pad(d.getSeconds())}`;\n// 安全: 严格日期格式校验 (防 SQL 注入)\nif (!/^\\d{4}-\\d{2}-\\d{2} \\d{2}:\\d{2}:\\d{2}$/.test(formatted)) {\n  throw new Error('日期格式异常: ' + formatted);\n}\nreturn { json: { last_date: formatted } };"
      },
      "id": "c0000008-0001-0001-0001-000000000004",
      "name": "Logic & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT WhsCode, WhsName FROM OWHS WHERE Inactive = 'N' AND (UpdateDate > '{{ $json.last_date }}' OR CreateDate > '{{ $json.last_date }}')",
        "options": {}
      },
      "id": "c0000008-0001-0001-0001-000000000005",
      "name": "SAP Query Warehouses",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        752,
        928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "__CREDENTIAL_MSSQL_ID__",
          "name": "__CREDENTIAL_MSSQL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.WhsCode }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c0000008-0001-0001-0001-000000000020",
      "name": "Has Updates?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        950,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst values = items.map(r => {\n  const j = r.json;\n  const esc = (v) => { if(v===null||v===undefined) return ''; let s=String(v).substring(0,500); s=s.replace(/\u0000/g,''); return s.replace(/'/g,\"''\"); };\n  return `('${esc(j.WhsCode)}','${esc(j.WhsName)}',NOW())`;\n}).join(',\\n');\nconst sql = `INSERT INTO wms.wms_locations_cache (whs_code, whs_name, synced_at) VALUES ${values} ON CONFLICT (whs_code) DO UPDATE SET whs_name=EXCLUDED.whs_name, synced_at=NOW()`;\nreturn [{ json: { sql, count: items.length } }];"
      },
      "id": "c0000008-0001-0001-0001-000000000007",
      "name": "生成UPSERT SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1150,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "c0000008-0001-0001-0001-000000000008",
      "name": "写入PG",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1350,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const count = $('生成UPSERT SQL').first().json.count;\nreturn { json: { success: true, count: count, message: '仓库缓存增量同步: ' + count + ' 条写入PG' } };"
      },
      "id": "c0000008-0001-0001-0001-000000000009",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1550,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true, count: 0, message: '仓库缓存: 无需更新' } };"
      },
      "id": "c0000008-0001-0001-0001-000000000021",
      "name": "Format No Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1350,
        1050
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c0000008-0001-0001-0001-000000000008b",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1750,
        928
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Sync Locations": {
      "main": [
        [
          {
            "node": "读取同步锚点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取同步锚点": {
      "main": [
        [
          {
            "node": "Logic & Format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic & Format": {
      "main": [
        [
          {
            "node": "SAP Query Warehouses",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAP Query Warehouses": {
      "main": [
        [
          {
            "node": "Has Updates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Updates?": {
      "main": [
        [
          {
            "node": "生成UPSERT SQL",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format No Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成UPSERT SQL": {
      "main": [
        [
          {
            "node": "写入PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入PG": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format No Update": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 20:15": {
      "main": [
        [
          {
            "node": "读取同步锚点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "WMS"
    }
  ]
}