apps/wf/wf09-stock-snapshot.json
{"name":"wf09 - 库存快照同步(每晚22:00)","nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":22,"triggerAtMinute":0}]}},"id":"s1200001-0001-0001-0001-000000000001","name":"每晚22:00触发","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-800,300]},{"parameters":{"httpMethod":"POST","path":"wms/sync/stock","responseMode":"responseNode","options":{}},"id":"s1200001-0001-0001-0001-000000000002","name":"手动触发Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-800,500],"webhookId":"wms-stock-sync"},{"parameters":{"operation":"executeQuery","query":"SELECT TO_CHAR(NOW(), 'YYYY-MM-DD') AS today_date, TO_CHAR(NOW() - INTERVAL '1 day', 'YYYY-MM-DD') AS yesterday_date","options":{}},"id":"s1200001-0001-0001-0001-000000000014","name":"获取快照日期","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-560,400],"alwaysOutputData":true,"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"jsCode":"// V18.0: 手动触发=昨天(23:59收盘), 定时触发=今天(当日收盘)\nconst row = $input.first().json;\n\n// 检测触发方式: Webhook=手动, Schedule=定时\nlet isManual = false;\ntry {\n  const d = $('手动触发Webhook').all();\n  if (d && d.length > 0) isManual = true;\n} catch(e) { /* Schedule触发时无Webhook数据 */ }\n\nconst snapshotDate = isManual ? row.yesterday_date : row.today_date;\nreturn { json: {\n  snapshot_date: snapshotDate,\n  trigger_type: isManual ? 'manual' : 'cron'\n} };"},"id":"s1200001-0001-0001-0001-000000000015","name":"准备参数","type":"n8n-nodes-base.code","typeVersion":2,"position":[-340,400]},{"parameters":{"operation":"executeQuery","query":"={{ \"WITH FilteredOITW AS ( SELECT ItemCode, WhsCode, OnHand, AvgPrice, IsCommited, OnOrder, UpdateDate FROM OITW WITH (NOLOCK) WHERE OnHand > 0 ) SELECT T0.ItemCode AS item_code, T1.ItemName AS item_name, T1.FrgnName AS foreign_name, T0.WhsCode AS whs_code, T2.WhsName AS whs_name, ISNULL(T3.BinCode, 'Unknown') AS bin_code, ISNULL(T3.maxlevel,0) AS bin_max_level, ISNULL(T4.OnHandQty, 0) AS bin_qty, T1.InvntryUom AS uom, ISNULL(T0.AvgPrice, T1.AvgPrice) AS avg_price, CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T6.OnHandQty, 0) ELSE ISNULL(T4.OnHandQty, 0) END * ISNULL(T0.AvgPrice, T1.AvgPrice) AS stock_value, T5.ItmsGrpNam AS item_group, T1.ManBtchNum AS batch_managed, T7.DistNumber AS batch_number, ISNULL(T6.OnHandQty, 0) AS batch_qty, T7.MnfSerial AS mfr_batch, T7.LotNumber AS lot_number, T7.MnfDate AS mfr_date, T7.ExpDate AS exp_date, T7.InDate AS in_date, CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T6.OnHandQty, 0) ELSE ISNULL(T4.OnHandQty, 0) END AS on_hand, T1.OnHand AS total_on_hand, T0.IsCommited AS committed_qty, T0.OnOrder AS ordered_qty, T2.BinActivat AS bin_enabled, T0.UpdateDate AS sap_update_date FROM FilteredOITW T0 INNER JOIN OITM T1 WITH (NOLOCK) ON T0.ItemCode = T1.ItemCode INNER JOIN OWHS T2 WITH (NOLOCK) ON T0.WhsCode = T2.WhsCode AND T2.BinActivat = 'Y' INNER JOIN OITB T5 WITH (NOLOCK) ON T1.ItmsGrpCod = T5.ItmsGrpCod INNER JOIN OIBQ T4 WITH (NOLOCK) ON T0.ItemCode = T4.ItemCode AND T0.WhsCode = T4.WhsCode AND T4.OnHandQty > 0 LEFT JOIN OBIN T3 WITH (NOLOCK) ON T4.BinAbs = T3.AbsEntry LEFT JOIN OBBQ T6 WITH (NOLOCK) ON T4.BinAbs = T6.BinAbs AND T4.ItemCode = T6.ItemCode AND T6.OnHandQty > 0 LEFT JOIN OBTN T7 WITH (NOLOCK) ON T0.ItemCode = T7.ItemCode AND T6.SnBMDAbs = T7.AbsEntry UNION ALL SELECT T0.ItemCode, T1.ItemName, T1.FrgnName, T0.WhsCode, T2.WhsName, 'Default Bin', 0, T0.OnHand, T1.InvntryUom, ISNULL(T0.AvgPrice, T1.AvgPrice), CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T8.Quantity, 0) ELSE T0.OnHand END * ISNULL(T0.AvgPrice, T1.AvgPrice), T5.ItmsGrpNam, T1.ManBtchNum, T7.DistNumber, ISNULL(T8.Quantity, 0), T7.MnfSerial, T7.LotNumber, T7.MnfDate, T7.ExpDate, T7.InDate, CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T8.Quantity, 0) ELSE T0.OnHand END, T1.OnHand, T0.IsCommited, T0.OnOrder, T2.BinActivat, T0.UpdateDate FROM FilteredOITW T0 INNER JOIN OITM T1 WITH (NOLOCK) ON T0.ItemCode = T1.ItemCode INNER JOIN OWHS T2 WITH (NOLOCK) ON T0.WhsCode = T2.WhsCode AND T2.BinActivat = 'N' INNER JOIN OITB T5 WITH (NOLOCK) ON T1.ItmsGrpCod = T5.ItmsGrpCod LEFT JOIN OBTQ T8 WITH (NOLOCK) ON T0.ItemCode = T8.ItemCode AND T0.WhsCode = T8.WhsCode AND T8.Quantity > 0 LEFT JOIN OBTN T7 WITH (NOLOCK) ON T0.ItemCode = T7.ItemCode AND T8.SysNumber = T7.SysNumber\" }}","options":{}},"id":"s1200001-0001-0001-0001-000000000004","name":"SAP库存查询","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[-80,400],"alwaysOutputData":true,"credentials":{"microsoftSql":{"id":"__CREDENTIAL_MSSQL_ID__","name":"__CREDENTIAL_MSSQL_NAME__"}}},{"parameters":{"jsCode":"// V16.2: 修复批量写入PG丢失SQL问题\n// 原因: '清除当天旧快照'节点输出覆盖了原始批次SQL数据\n// 方案: 将DELETE合并到第一个INSERT批次, 跳过独立DELETE节点\nconst allInput = $input.all().map(r => r.json);\nconst filteredRows = allInput.filter(r => r.item_code && String(r.item_code).trim() !== '');\n\n// 按item_code+whs_code+bin_code+batch_number去重，SAP JOIN可能产生重复行\nconst seen = new Set();\nconst rawRows = filteredRows.filter(r => {\n  const key = String(r.item_code) + '|' + String(r.whs_code||'') + '|' + String(r.bin_code||'') + '|' + String(r.batch_number||'');\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nif (rawRows.length === 0) {\n  return [{ json: { _skip: true, success: true, snapshot_date: '', total_rows: 0, max_sap_update_date: '', message: 'SAP无库存变动，保留旧快照' } }];\n}\n\n// V18.0: 从上游获取快照日期 (手动=昨天, 定时=今天)\nconst snapshotDate = $('准备参数').first().json.snapshot_date;\n\n// V17.0: 全量模式不再追踪 SAP UpdateDate\nconst maxSapDate = '';\n\n// 生成INSERT SQL批次\nconst batchSize = 500;\nconst batches = [];\nconst esc = (v) => { if(v===null||v===undefined) return 'NULL'; let s=String(v).substring(0,500); s=s.replace(/\u0000/g,''); s=s.replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"''\"); return \"'\"+s+\"'\"; };\nconst num = (v) => v===null||v===undefined ? 0 : Number(v)||0;\nconst dateFmt = (v) => { if(!v) return 'NULL'; const s=String(v); const m=s.match(/^(\\d{4}-\\d{2}-\\d{2})/); return m ? \"'\"+m[1]+\"'\" : 'NULL'; };\n\nconst cols = 'company_code,snapshot_date,item_code,item_name,foreign_name,item_group,uom,whs_code,whs_name,bin_code,bin_enabled,batch_managed,batch_number,mfr_batch,lot_number,mfr_date,exp_date,in_date,on_hand,bin_qty,batch_qty,bin_max_level,avg_price,stock_value,total_on_hand,committed_qty,ordered_qty,synced_at';\n\nfor (let i = 0; i < rawRows.length; i += batchSize) {\n  const batch = rawRows.slice(i, i + batchSize);\n  const values = batch.map(r => {\n    return `(${esc($env.DP_COMPANY_CODE)},${esc(snapshotDate)},${esc(r.item_code)},${esc(r.item_name)},${esc(r.foreign_name)},${esc(r.item_group)},${esc(r.uom)},${esc(r.whs_code)},${esc(r.whs_name)},${esc(r.bin_code)},${esc(r.bin_enabled)},${esc(r.batch_managed)},${esc(r.batch_number)},${esc(r.mfr_batch)},${esc(r.lot_number)},${dateFmt(r.mfr_date)},${dateFmt(r.exp_date)},${dateFmt(r.in_date)},${num(r.on_hand)},${num(r.bin_qty)},${num(r.batch_qty)},${num(r.bin_max_level)},${num(r.avg_price)},${num(r.stock_value)},${num(r.total_on_hand)},${num(r.committed_qty)},${num(r.ordered_qty)},NOW())`;\n  }).join(',\\n');\n\n  let sql;\n  if (i === 0) {\n    // 第一个批次: 先DELETE所有旧快照再INSERT (保留最新一份即可，防止历史累积导致wf08 SUM膨胀)\n    sql = `DELETE FROM wms.wms_stock_snapshot WHERE company_code = ${esc($env.DP_COMPANY_CODE)};\\nINSERT INTO wms.wms_stock_snapshot (${cols}) VALUES ${values}`;\n  } else {\n    sql = `INSERT INTO wms.wms_stock_snapshot (${cols}) VALUES ${values}`;\n  }\n\n  batches.push({ json: {\n    _skip: false,\n    sql: sql,\n    batch_num: Math.floor(i/batchSize)+1,\n    _snapshot_date: snapshotDate,\n    _max_sap_update_date: maxSapDate,\n    _total_rows: rawRows.length\n  } });\n}\nreturn batches;"},"id":"s1200001-0001-0001-0001-000000000005","name":"转换+生成SQL","type":"n8n-nodes-base.code","typeVersion":2,"position":[180,400]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._skip }}","value2":true}]}},"id":"s1200001-0001-0001-0001-000000000019","name":"跳过判断","type":"n8n-nodes-base.if","typeVersion":1,"position":[440,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, snapshot_date: '', total_rows: 0, message: 'SAP无库存变动，保留旧快照' }) }}","options":{}},"id":"s1200001-0001-0001-0001-000000000017","name":"跳过响应","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[700,200]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"s1200001-0001-0001-0001-000000000008","name":"批量写入PG","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[960,500],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"operation":"executeQuery","query":"SELECT 1 AS noop","options":{}},"id":"s1200001-0001-0001-0001-000000000018","name":"锚点已废弃(noop)","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1220,500],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"jsCode":"// V16.2: 汇总结果，从转换+生成SQL节点获取元数据 (不依赖上游Postgres输出)\nconst firstBatch = $('转换+生成SQL').first().json;\nreturn { json: {\n  success: true,\n  snapshot_date: firstBatch._snapshot_date || '',\n  total_rows: firstBatch._total_rows || 0,\n  max_sap_update_date: firstBatch._max_sap_update_date || '',\n  message: '库存快照同步完成: SAP ' + (firstBatch._total_rows || 0) + '行 写入PG'\n} };"},"id":"s1200001-0001-0001-0001-000000000009","name":"汇总结果","type":"n8n-nodes-base.code","typeVersion":2,"position":[1480,500]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"s1200001-0001-0001-0001-000000000010","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1740,500]}],"pinData":{},"connections":{"每晚22:00触发":{"main":[[{"node":"获取快照日期","type":"main","index":0}]]},"手动触发Webhook":{"main":[[{"node":"获取快照日期","type":"main","index":0}]]},"准备参数":{"main":[[{"node":"SAP库存查询","type":"main","index":0}]]},"SAP库存查询":{"main":[[{"node":"转换+生成SQL","type":"main","index":0}]]},"转换+生成SQL":{"main":[[{"node":"跳过判断","type":"main","index":0}]]},"跳过判断":{"main":[[{"node":"跳过响应","type":"main","index":0}],[{"node":"批量写入PG","type":"main","index":0}]]},"批量写入PG":{"main":[[{"node":"锚点已废弃(noop)","type":"main","index":0}]]},"汇总结果":{"main":[[{"node":"Respond","type":"main","index":0}]]},"获取快照日期":{"main":[[{"node":"准备参数","type":"main","index":0}]]},"锚点已废弃(noop)":{"main":[[{"node":"汇总结果","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1"},"tags":[{"name":"WMS"}]}