apps/wf/wf0a-init-masterdata.json
{"name": "wf0a - 期初主数据灌库(一次性)", "nodes": [{"parameters": {"httpMethod": "GET", "path": "wms/init-masterdata", "responseMode": "responseNode", "options": {}}, "id": "init-0001-0001-0001-000000000001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [-400, 400], "webhookId": "wms-init-masterdata"}, {"parameters": {"operation": "executeQuery", "query": "SELECT ItemCode, ItemName, InvntryUom, ManBtchNum FROM OITM WITH (NOLOCK) WHERE ItmsGrpCod NOT IN ('110','111','112','113') AND frozenFor = 'N' ORDER BY ItemCode", "options": {}}, "id": "init-0001-0001-0001-000000000002", "name": "SAP查询物料OITM", "type": "n8n-nodes-base.microsoftSql", "typeVersion": 1, "position": [-160, 400], "alwaysOutputData": true, "credentials": {"microsoftSql": {"id": "__CREDENTIAL_MSSQL_ID__", "name": "__CREDENTIAL_MSSQL_NAME__"}}}, {"parameters": {"jsCode": "const items = $input.all().filter(r => r.json.ItemCode);\nconst companyCode = $env.DP_COMPANY_CODE || 'DEFAULT';\nconst batchSize = 200;\nconst batches = [];\nconst esc = (v) => { if(v===null||v===undefined) return ''; let s=String(v).substring(0,500); s=s.replace(/\\0/g,''); return s.replace(/'/g,\"''\"); };\nconst cc = esc(companyCode);\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  const values = batch.map(r => {\n    const j = r.json;\n    return `('${cc}','${esc(j.ItemCode)}','${esc(j.ItemName)}','${esc(j.InvntryUom)}','${esc(j.ManBtchNum)||'N'}',NOW())`;\n  }).join(',\\n');\n  const sql = `INSERT INTO wms.wms_items_cache (company_code, item_code, item_name, uom, man_batch_num, synced_at) VALUES ${values} ON CONFLICT (company_code, item_code) DO UPDATE SET item_name=EXCLUDED.item_name, uom=EXCLUDED.uom, man_batch_num=EXCLUDED.man_batch_num, synced_at=NOW()`;\n  batches.push({ json: { sql, count: batch.length } });\n}\nif (batches.length === 0) return [{ json: { sql: 'SELECT 1', count: 0 } }];\nreturn batches;"}, "id": "init-0001-0001-0001-000000000003", "name": "生成物料UPSERT", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [60, 400]}, {"parameters": {"operation": "executeQuery", "query": "={{ $json.sql }}", "options": {}}, "id": "init-0001-0001-0001-000000000004", "name": "写入物料", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [280, 400], "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"jsCode": "const total = $input.all().reduce((s,r)=> s + (r.json.count||0), 0);\nreturn { json: { items_count: total } };"}, "id": "init-0001-0001-0001-000000000005", "name": "汇总物料", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [500, 400]}, {"parameters": {"operation": "executeQuery", "query": "SELECT WhsCode, WhsName FROM OWHS WITH (NOLOCK) WHERE Inactive = 'N' ORDER BY WhsCode", "options": {}}, "id": "init-0001-0001-0001-000000000006", "name": "SAP查询仓库OWHS", "type": "n8n-nodes-base.microsoftSql", "typeVersion": 1, "position": [720, 400], "alwaysOutputData": true, "credentials": {"microsoftSql": {"id": "__CREDENTIAL_MSSQL_ID__", "name": "__CREDENTIAL_MSSQL_NAME__"}}}, {"parameters": {"jsCode": "const items = $input.all().filter(r => r.json.WhsCode);\nconst companyCode = $env.DP_COMPANY_CODE || 'DEFAULT';\nif (items.length === 0) return [{ json: { sql: 'SELECT 1', count: 0 } }];\nconst esc = (v) => { if(v===null||v===undefined) return ''; let s=String(v).substring(0,500); s=s.replace(/\\0/g,''); return s.replace(/'/g,\"''\"); };\nconst cc = esc(companyCode);\nconst values = items.map(r => {\n  const j = r.json;\n  return `('${cc}','${esc(j.WhsCode)}','${esc(j.WhsName)}',NOW())`;\n}).join(',\\n');\nconst sql = `INSERT INTO wms.wms_locations_cache (company_code, whs_code, whs_name, synced_at) VALUES ${values} ON CONFLICT (company_code, whs_code) DO UPDATE SET whs_name=EXCLUDED.whs_name, synced_at=NOW()`;\nreturn [{ json: { sql, count: items.length } }];"}, "id": "init-0001-0001-0001-000000000007", "name": "生成仓库UPSERT", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [940, 400]}, {"parameters": {"operation": "executeQuery", "query": "={{ $json.sql }}", "options": {}}, "id": "init-0001-0001-0001-000000000008", "name": "写入仓库", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [1160, 400], "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"jsCode": "const itemsCount = $('汇总物料').first().json.items_count;\nconst whsCount = $input.first().json.count || 0;\nreturn { json: { items_count: itemsCount, whs_count: whsCount } };"}, "id": "init-0001-0001-0001-000000000009", "name": "汇总仓库", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1380, 400]}, {"parameters": {"operation": "executeQuery", "query": "SELECT B.BinCode AS bin_code, B.WhsCode AS whs_code, W.WhsName AS whs_name, ISNULL(B.Descr, '') AS bin_name, ISNULL(B.maxLevel, 0) AS max_level FROM OBIN B WITH (NOLOCK) INNER JOIN OWHS W WITH (NOLOCK) ON B.WhsCode = W.WhsCode WHERE B.Disabled = 'N' AND W.Inactive = 'N' ORDER BY B.WhsCode, B.BinCode", "options": {}}, "id": "init-0001-0001-0001-000000000010", "name": "SAP查询库位OBIN", "type": "n8n-nodes-base.microsoftSql", "typeVersion": 1, "position": [1600, 400], "alwaysOutputData": true, "credentials": {"microsoftSql": {"id": "__CREDENTIAL_MSSQL_ID__", "name": "__CREDENTIAL_MSSQL_NAME__"}}}, {"parameters": {"jsCode": "const items = $input.all().filter(r => r.json.bin_code);\nconst companyCode = $env.DP_COMPANY_CODE || 'DEFAULT';\nconst batchSize = 200;\nconst batches = [];\nconst esc = (v) => { if(v===null||v===undefined) return ''; let s=String(v).substring(0,500); s=s.replace(/\\0/g,''); return s.replace(/'/g,\"''\"); };\nconst num = (v) => Number(v)||0;\nconst cc = esc(companyCode);\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  const values = batch.map(r => {\n    const j = r.json;\n    return `('${cc}','${esc(j.bin_code)}','${esc(j.whs_code)}','${esc(j.whs_name)}','${esc(j.bin_name)}',${num(j.max_level)},NOW())`;\n  }).join(',\\n');\n  const sql = `INSERT INTO wms.wms_bins_cache (company_code, bin_code, whs_code, whs_name, bin_name, max_level, synced_at) VALUES ${values} ON CONFLICT (company_code, bin_code) DO UPDATE SET whs_code=EXCLUDED.whs_code, whs_name=EXCLUDED.whs_name, bin_name=EXCLUDED.bin_name, max_level=EXCLUDED.max_level, synced_at=NOW()`;\n  batches.push({ json: { sql, count: batch.length } });\n}\nif (batches.length === 0) return [{ json: { sql: 'SELECT 1', count: 0 } }];\nreturn batches;"}, "id": "init-0001-0001-0001-000000000011", "name": "生成库位UPSERT", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1820, 400]}, {"parameters": {"operation": "executeQuery", "query": "={{ $json.sql }}", "options": {}}, "id": "init-0001-0001-0001-000000000012", "name": "写入库位", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [2040, 400], "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"jsCode": "const prev = $('汇总仓库').first().json;\nconst binsTotal = $input.all().reduce((s,r)=> s + (r.json.count||0), 0);\nreturn { json: {\n  success: true,\n  message: `期初灌库完成: 物料 ${prev.items_count} 条, 仓库 ${prev.whs_count} 条, 库位 ${binsTotal} 条`,\n  items_count: prev.items_count,\n  whs_count: prev.whs_count,\n  bins_count: binsTotal\n} };"}, "id": "init-0001-0001-0001-000000000013", "name": "汇总结果", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [2260, 400]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify($json) }}", "options": {}}, "id": "init-0001-0001-0001-000000000014", "name": "Respond", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [2480, 400]}], "connections": {"Webhook": {"main": [[{"node": "SAP查询物料OITM", "type": "main", "index": 0}]]}, "SAP查询物料OITM": {"main": [[{"node": "生成物料UPSERT", "type": "main", "index": 0}]]}, "生成物料UPSERT": {"main": [[{"node": "写入物料", "type": "main", "index": 0}]]}, "写入物料": {"main": [[{"node": "汇总物料", "type": "main", "index": 0}]]}, "汇总物料": {"main": [[{"node": "SAP查询仓库OWHS", "type": "main", "index": 0}]]}, "SAP查询仓库OWHS": {"main": [[{"node": "生成仓库UPSERT", "type": "main", "index": 0}]]}, "生成仓库UPSERT": {"main": [[{"node": "写入仓库", "type": "main", "index": 0}]]}, "写入仓库": {"main": [[{"node": "汇总仓库", "type": "main", "index": 0}]]}, "汇总仓库": {"main": [[{"node": "SAP查询库位OBIN", "type": "main", "index": 0}]]}, "SAP查询库位OBIN": {"main": [[{"node": "生成库位UPSERT", "type": "main", "index": 0}]]}, "生成库位UPSERT": {"main": [[{"node": "写入库位", "type": "main", "index": 0}]]}, "写入库位": {"main": [[{"node": "汇总结果", "type": "main", "index": 0}]]}, "汇总结果": {"main": [[{"node": "Respond", "type": "main", "index": 0}]]}}, "active": false, "settings": {"executionOrder": "v1"}, "tags": [{"name": "WMS"}]}