apps/wf/wf0b-init-inventory.json
{"name":"wf0b - 期初库存导入(精简查询+缓存补全)","nodes":[{"parameters":{"httpMethod":"GET","path":"wms/init-inventory","responseMode":"responseNode","options":{}},"id":"inv-init-0001","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-200,300],"webhookId":"wms-init-inventory"},{"parameters":{"operation":"executeQuery","query":"WITH FilteredOITW AS ( SELECT ItemCode, WhsCode, OnHand, AvgPrice, IsCommited, OnOrder FROM OITW WITH (NOLOCK) WHERE OnHand > 0 ) SELECT T0.ItemCode AS item_code, T1.ItemName AS item_name, T1.FrgnName AS foreign_name, T5.ItmsGrpNam AS item_group, T1.InvntryUom AS uom, T0.WhsCode AS whs_code, T2.WhsName AS whs_name, ISNULL(T3.BinCode, 'Unknown') AS bin_code, ISNULL(T3.maxlevel, 0) AS bin_max_level, ISNULL(T4.OnHandQty, 0) AS bin_qty, T1.ManBtchNum AS batch_managed, T7.DistNumber AS batch_number, ISNULL(T6.OnHandQty, 0) AS batch_qty, CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T6.OnHandQty, 0) ELSE ISNULL(T4.OnHandQty, 0) END AS on_hand, ISNULL(T0.AvgPrice, T1.AvgPrice) AS avg_price, CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T6.OnHandQty, 0) ELSE ISNULL(T4.OnHandQty, 0) END * ISNULL(T0.AvgPrice, T1.AvgPrice) AS stock_value, T1.OnHand AS total_on_hand, T0.IsCommited AS committed_qty, T0.OnOrder AS ordered_qty, T2.BinActivat AS bin_enabled, T7.MnfSerial AS mfr_batch, T7.LotNumber AS lot_number, T7.MnfDate AS mfr_date, T7.ExpDate AS exp_date, T7.InDate AS in_date FROM FilteredOITW T0 INNER JOIN OITM T1 WITH (NOLOCK) ON T0.ItemCode = T1.ItemCode INNER JOIN OWHS T2 WITH (NOLOCK) ON T0.WhsCode = T2.WhsCode AND T2.BinActivat = 'Y' INNER JOIN OITB T5 WITH (NOLOCK) ON T1.ItmsGrpCod = T5.ItmsGrpCod INNER JOIN OIBQ T4 WITH (NOLOCK) ON T0.ItemCode = T4.ItemCode AND T0.WhsCode = T4.WhsCode AND T4.OnHandQty > 0 LEFT JOIN OBIN T3 WITH (NOLOCK) ON T4.BinAbs = T3.AbsEntry LEFT JOIN OBBQ T6 WITH (NOLOCK) ON T4.BinAbs = T6.BinAbs AND T4.ItemCode = T6.ItemCode AND T6.OnHandQty > 0 LEFT JOIN OBTN T7 WITH (NOLOCK) ON T0.ItemCode = T7.ItemCode AND T6.SnBMDAbs = T7.AbsEntry UNION ALL SELECT T0.ItemCode, T1.ItemName, T1.FrgnName, T5.ItmsGrpNam, T1.InvntryUom, T0.WhsCode, T2.WhsName, 'Default Bin', 0, T0.OnHand, T1.ManBtchNum, T7.DistNumber, ISNULL(T8.Quantity, 0), CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T8.Quantity, 0) ELSE T0.OnHand END, ISNULL(T0.AvgPrice, T1.AvgPrice), CASE WHEN T7.DistNumber IS NOT NULL THEN ISNULL(T8.Quantity, 0) ELSE T0.OnHand END * ISNULL(T0.AvgPrice, T1.AvgPrice), T1.OnHand, T0.IsCommited, T0.OnOrder, T2.BinActivat, T7.MnfSerial, T7.LotNumber, T7.MnfDate, T7.ExpDate, T7.InDate FROM FilteredOITW T0 INNER JOIN OITM T1 WITH (NOLOCK) ON T0.ItemCode = T1.ItemCode INNER JOIN OWHS T2 WITH (NOLOCK) ON T0.WhsCode = T2.WhsCode AND T2.BinActivat = 'N' INNER JOIN OITB T5 WITH (NOLOCK) ON T1.ItmsGrpCod = T5.ItmsGrpCod LEFT JOIN OBTQ T8 WITH (NOLOCK) ON T0.ItemCode = T8.ItemCode AND T0.WhsCode = T8.WhsCode AND T8.Quantity > 0 LEFT JOIN OBTN T7 WITH (NOLOCK) ON T0.ItemCode = T7.ItemCode AND T8.SysNumber = T7.SysNumber","options":{}},"id":"inv-init-0002","name":"SAP精简查询库存","type":"n8n-nodes-base.microsoftSql","typeVersion":1,"position":[60,300],"alwaysOutputData":true,"credentials":{"microsoftSql":{"id":"__CREDENTIAL_MSSQL_ID__","name":"__CREDENTIAL_MSSQL_NAME__"}}},{"parameters":{"jsCode":"// V16.3: SAP直接查询全字段(含描述)，on_hand按批次/库位粒度\n// 第一批前加DELETE清除当天旧快照\nconst allInput = $input.all().map(r => r.json);\nconst filteredRows = allInput.filter(r => r.item_code && String(r.item_code).trim() !== '');\n\n// 按item_code+whs_code+bin_code+batch_number去重，SAP LEFT JOIN可能产生重复行\nconst seen = new Set();\nconst rawRows = filteredRows.filter(r => {\n  const key = String(r.item_code) + '|' + String(r.whs_code||'') + '|' + String(r.bin_code||'') + '|' + String(r.batch_number||'');\n  if (seen.has(key)) return false;\n  seen.add(key);\n  return true;\n});\n\nif (rawRows.length === 0) {\n  return [{ json: { _skip: true, success: true, message: '期初库存: SAP无非零库存数据', count: 0 } }];\n}\n\nconst today = new Date().toISOString().substring(0, 10);\nconst batchSize = 200;\nconst batches = [];\nconst esc = (v) => { if(v===null||v===undefined) return 'NULL'; let s=String(v).substring(0,500); s=s.replace(/\u0000/g,''); s=s.replace(/\\\\/g,'\\\\\\\\').replace(/'/g,\"''\"); return \"'\"+s+\"'\"; };\nconst num = (v) => Number(v) || 0;\nconst dt = (v) => { if(!v) return 'NULL'; const s=String(v); const m=s.match(/^(\\d{4}-\\d{2}-\\d{2})/); return m ? \"'\"+m[1]+\"'\" : 'NULL'; };\n\nfor (let i = 0; i < rawRows.length; i += batchSize) {\n  const batch = rawRows.slice(i, i + batchSize);\n  const values = batch.map(r => {\n    return `(${esc($env.DP_COMPANY_CODE)},${esc(today)},${esc(r.item_code)},${esc(r.item_name||'')},${esc(r.foreign_name||'')},${esc(r.item_group||'')},${esc(r.uom||'')},${esc(r.whs_code)},${esc(r.whs_name||'')},${esc(r.bin_code||'Default Bin')},${esc(r.bin_enabled||'N')},${esc(r.batch_managed||'N')},${esc(r.batch_number)},${esc(r.mfr_batch)},${esc(r.lot_number)},${dt(r.mfr_date)},${dt(r.exp_date)},${dt(r.in_date)},${num(r.on_hand)},${num(r.bin_qty)},${num(r.batch_qty)},${num(r.bin_max_level)},${num(r.avg_price)},${num(r.stock_value)},${num(r.total_on_hand)},${num(r.committed_qty)},${num(r.ordered_qty)},NOW())`;\n  }).join(',\\n');\n  // 第一批前加DELETE清除当天旧快照，避免多次导入累积重复\n  const prefix = (i === 0) ? 'DELETE FROM wms.wms_stock_snapshot WHERE snapshot_date = CURRENT_DATE; ' : '';\n  const sql = prefix + `INSERT INTO wms.wms_stock_snapshot (company_code, snapshot_date,item_code,item_name,foreign_name,item_group,uom,whs_code,whs_name,bin_code,bin_enabled,batch_managed,batch_number,mfr_batch,lot_number,mfr_date,exp_date,in_date,on_hand,bin_qty,batch_qty,bin_max_level,avg_price,stock_value,total_on_hand,committed_qty,ordered_qty,synced_at) VALUES ${values}`;\n  batches.push({ json: { _skip: false, sql, batch_num: Math.floor(i/batchSize)+1, count: batch.length, _total: rawRows.length } });\n}\nreturn batches;"},"id":"inv-init-0004","name":"生成批量INSERT","type":"n8n-nodes-base.code","typeVersion":2,"position":[300,300]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._skip }}","value2":true}]}},"id":"inv-init-0010","name":"跳过判断","type":"n8n-nodes-base.if","typeVersion":1,"position":[540,300]},{"parameters":{"operation":"executeQuery","query":"={{ $json.sql }}","options":{}},"id":"inv-init-0005","name":"写入PG快照","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[780,400],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE wms.wms_stock_snapshot s SET item_name = COALESCE(i.item_name, ''), uom = COALESCE(i.uom, '') FROM wms.wms_items_cache i WHERE s.item_code = i.item_code AND s.item_name = '' AND s.snapshot_date = CURRENT_DATE","options":{}},"id":"inv-init-0011","name":"补全物料描述","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1020,400],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"operation":"executeQuery","query":"UPDATE wms.wms_stock_snapshot s SET whs_name = COALESCE(w.whs_name, '') FROM wms.wms_locations_cache w WHERE s.whs_code = w.whs_code AND s.whs_name = '' AND s.snapshot_date = CURRENT_DATE","options":{}},"id":"inv-init-0012","name":"补全仓库名称","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[1260,400],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"jsCode":"// V16.1: 汇总期初库存导入结果\nconst items = $input.all();\nconst first = items[0] ? items[0].json : {};\nconst total = first._total || 0;\nreturn { json: { success: true, message: '期初库存导入完成: ' + total + ' 条写入快照(描述字段已从缓存补全)', count: total } };"},"id":"inv-init-0006","name":"汇总结果","type":"n8n-nodes-base.code","typeVersion":2,"position":[1500,400]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"inv-init-0008","name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[1740,300]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: '期初库存: SAP无非零库存数据', count: 0 }) }}","options":{}},"id":"inv-init-0009","name":"空数据响应","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[780,150]}],"connections":{"Webhook":{"main":[[{"node":"SAP精简查询库存","type":"main","index":0}]]},"SAP精简查询库存":{"main":[[{"node":"生成批量INSERT","type":"main","index":0}]]},"生成批量INSERT":{"main":[[{"node":"跳过判断","type":"main","index":0}]]},"跳过判断":{"main":[[{"node":"空数据响应","type":"main","index":0}],[{"node":"写入PG快照","type":"main","index":0}]]},"写入PG快照":{"main":[[{"node":"补全物料描述","type":"main","index":0}]]},"补全物料描述":{"main":[[{"node":"补全仓库名称","type":"main","index":0}]]},"补全仓库名称":{"main":[[{"node":"汇总结果","type":"main","index":0}]]},"汇总结果":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"active":false,"settings":{"executionOrder":"v1"},"tags":[{"name":"WMS"}]}