apps/wf/wf10-bin-sync.json
{
  "name": "wf10 - 库位缓存同步(OBIN增量)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 21,
              "triggerAtMinute": 15
            }
          ]
        }
      },
      "id": "c0000013-0001-0001-0001-000000000001",
      "name": "Cron 21:15",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        80,
        832
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wms/sync/bins",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c0000013-0001-0001-0001-000000000002",
      "name": "Webhook Sync Bins",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        80,
        1024
      ],
      "webhookId": "wms-sync-bins"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT MAX(synced_at)::text AS last_sync FROM wms.wms_bins_cache WHERE company_code = $1",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE] }}"
        }
      },
      "id": "c0000013-0001-0001-0001-000000000008",
      "name": "读取同步锚点",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        350,
        928
      ],
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// V16.3: 构建增量查询条件 (空表=全量, 有数据=增量)\nconst lastSync = $input.first().json.last_sync;\nif (!lastSync) {\n  // 首次同步: 不传日期条件, SAP 返回全量库位\n  return { json: { sync_anchor: null, full_sync: true } };\n}\nconst syncDate = String(lastSync).substring(0, 19);\nif (!/^\\d{4}-\\d{2}-\\d{2}/.test(syncDate)) {\n  throw new Error('增量锚点格式异常: ' + syncDate.substring(0, 30));\n}\nreturn { json: { sync_anchor: syncDate, full_sync: false } };\n"
      },
      "id": "c0000013-0001-0001-0001-000000000009",
      "name": "构建增量条件",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        570,
        928
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ \"SELECT B.BinCode AS bin_code, B.WhsCode AS whs_code, W.WhsName AS whs_name, ISNULL(B.Descr, '') AS bin_name, ISNULL(B.maxLevel, 0) AS max_level, B.Disabled AS disabled FROM OBIN B WITH (NOLOCK) INNER JOIN OWHS W WITH (NOLOCK) ON B.WhsCode = W.WhsCode WHERE B.Disabled = 'N' AND W.Inactive = 'N'\" + ($json.full_sync ? \"\" : \" AND (B.CreateDate >= '\" + $json.sync_anchor + \"' OR B.UpdateDate >= '\" + $json.sync_anchor + \"')\") + \" ORDER BY B.WhsCode, B.BinCode\" }}",
        "options": {}
      },
      "id": "c0000013-0001-0001-0001-000000000003",
      "name": "SAP查询OBIN增量",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        790,
        928
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "__CREDENTIAL_MSSQL_ID__",
          "name": "__CREDENTIAL_MSSQL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.bin_code }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "c0000013-0001-0001-0001-000000000020",
      "name": "Has Data?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1010,
        928
      ]
    },
    {
      "parameters": {
        "jsCode": "// V16.2: company_code support\nconst items = $input.all();\nconst companyCode = $env.DP_COMPANY_CODE || 'DEFAULT';\nconst batchSize = 200;\nconst batches = [];\nconst esc = (v) => { if(v===null||v===undefined) return ''; let s=String(v).substring(0,500); s=s.replace(/\\0/g,''); return s.replace(/'/g,\"''\"); };\nconst num = (v) => Number(v)||0;\nconst cc = esc(companyCode);\nfor (let i = 0; i < items.length; i += batchSize) {\n  const batch = items.slice(i, i + batchSize);\n  const values = batch.map(r => {\n    const j = r.json;\n    return `('${cc}','${esc(j.bin_code)}','${esc(j.whs_code)}','${esc(j.whs_name)}','${esc(j.bin_name)}',${num(j.max_level)},NOW())`;\n  }).join(',\\n');\n  const sql = `INSERT INTO wms.wms_bins_cache (company_code, bin_code, whs_code, whs_name, bin_name, max_level, synced_at) VALUES ${values} ON CONFLICT (company_code, bin_code) DO UPDATE SET whs_code=EXCLUDED.whs_code, whs_name=EXCLUDED.whs_name, bin_name=EXCLUDED.bin_name, max_level=EXCLUDED.max_level, synced_at=NOW()`;\n  batches.push({ json: { sql, batch_num: Math.floor(i/batchSize)+1, count: batch.length } });\n}\nif (batches.length === 0) return [{ json: { sql: 'SELECT 1', batch_num: 0, count: 0 } }];\nreturn batches;"
      },
      "id": "c0000013-0001-0001-0001-000000000004",
      "name": "生成批量UPSERT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1230,
        800
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "c0000013-0001-0001-0001-000000000005b",
      "name": "写入PG",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1450,
        800
      ],
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// V1.1: 统计实际同步条数 — 从生成节点获取每批行数 (修复 PG 节点丢失 count)\nconst batches = $('生成批量UPSERT').all();\nconst total = batches.reduce((s, r) => s + (r.json.count || 0), 0);\nreturn { json: { success: true, count: total, message: '库位缓存增量同步: ' + total + ' 条写入PG' } };"
      },
      "id": "c0000013-0001-0001-0001-000000000005",
      "name": "Format Success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1670,
        800
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { success: true, count: 0, message: '库位缓存: 无新增/变更数据' } };"
      },
      "id": "c0000013-0001-0001-0001-000000000006",
      "name": "Format No Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1450,
        1050
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "c0000013-0001-0001-0001-000000000007",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1890,
        928
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Sync Bins": {
      "main": [
        [
          {
            "node": "读取同步锚点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "读取同步锚点": {
      "main": [
        [
          {
            "node": "构建增量条件",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "构建增量条件": {
      "main": [
        [
          {
            "node": "SAP查询OBIN增量",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAP查询OBIN增量": {
      "main": [
        [
          {
            "node": "Has Data?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Data?": {
      "main": [
        [
          {
            "node": "生成批量UPSERT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format No Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "生成批量UPSERT": {
      "main": [
        [
          {
            "node": "写入PG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入PG": {
      "main": [
        [
          {
            "node": "Format Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format No Data": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron 21:15": {
      "main": [
        [
          {
            "node": "读取同步锚点",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "tags": [
    {
      "name": "WMS"
    }
  ]
}
