apps/wf/wf12-bin-add.json
{"name": "wf12 - 新增库位", "nodes": [{"parameters": {"httpMethod": "POST", "path": "wms/bin/add", "responseMode": "responseNode", "options": {"rawBody": false}}, "id": "b0000001-0001-0001-0001-000000000001", "name": "Webhook", "type": "n8n-nodes-base.webhook", "typeVersion": 1.1, "position": [-200, 300], "webhookId": "wms-bin-add"}, {"parameters": {"jsCode": "const body = $input.item.json.body;\nconst bin_code = (body.bin_code || '').trim();\nconst whs_code = (body.whs_code || '').trim();\nif (!bin_code) {\n  return { json: { _error: true, success: false, message: '缺少库位代码' } };\n}\nreturn { json: { _error: false, bin_code: bin_code, whs_code: whs_code } };"}, "id": "b0000001-0001-0001-0001-000000000002", "name": "Validate", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [20, 300]}, {"parameters": {"conditions": {"boolean": [{"value1": "={{ $json._error }}", "value2": true}]}}, "id": "b0000001-0001-0001-0001-000000000003", "name": "Has Error?", "type": "n8n-nodes-base.if", "typeVersion": 1, "position": [240, 300]}, {"parameters": {"respondWith": "json", "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}", "options": {}}, "id": "b0000001-0001-0001-0001-000000000004", "name": "Error Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [460, 160]}, {"parameters": {"operation": "executeQuery", "query": "INSERT INTO wms.wms_bins_cache (company_code, bin_code, whs_code, whs_name, bin_name, max_level, synced_at) VALUES ($1, $2, $3, '', $4, 0, NOW()) ON CONFLICT (company_code, bin_code) DO UPDATE SET synced_at = NOW()", "options": {"queryReplacement": "={{ [$env.DP_COMPANY_CODE, $json.bin_code, $json.whs_code, $json.bin_code] }}"}}, "id": "b0000001-0001-0001-0001-000000000005", "name": "Insert Bin", "type": "n8n-nodes-base.postgres", "typeVersion": 2.5, "position": [460, 440], "alwaysOutputData": true, "credentials": {"postgres": {"id": "__CREDENTIAL_PG_ID__", "name": "__CREDENTIAL_PG_NAME__"}}}, {"parameters": {"respondWith": "json", "responseBody": "={ \"success\": true, \"message\": \"库位已添加\" }", "options": {}}, "id": "b0000001-0001-0001-0001-000000000006", "name": "Success Response", "type": "n8n-nodes-base.respondToWebhook", "typeVersion": 1.1, "position": [680, 440]}], "pinData": {}, "connections": {"Webhook": {"main": [[{"node": "Validate", "type": "main", "index": 0}]]}, "Validate": {"main": [[{"node": "Has Error?", "type": "main", "index": 0}]]}, "Has Error?": {"main": [[{"node": "Error Response", "type": "main", "index": 0}], [{"node": "Insert Bin", "type": "main", "index": 0}]]}, "Insert Bin": {"main": [[{"node": "Success Response", "type": "main", "index": 0}]]}}, "active": true, "settings": {"executionOrder": "v1"}, "tags": [{"name": "WMS"}]}