apps/wf/wf13-lock.json
{"name":"wf13 - 单据锁管理(Acquire/Release/Check)","nodes":[{"parameters":{"httpMethod":"POST","path":"wms/lock/acquire","responseMode":"responseNode","options":{}},"id":"c0000015-0001-0001-0001-000000000001","name":"Webhook Acquire","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-600,200],"webhookId":"wms-lock-acquire"},{"parameters":{"httpMethod":"POST","path":"wms/lock/release","responseMode":"responseNode","options":{}},"id":"c0000015-0001-0001-0001-000000000002","name":"Webhook Release","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-600,520],"webhookId":"wms-lock-release"},{"parameters":{"httpMethod":"GET","path":"wms/lock/check","responseMode":"responseNode","options":{}},"id":"c0000015-0001-0001-0001-000000000003","name":"Webhook Check","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-600,720],"webhookId":"wms-lock-check"},{"parameters":{"jsCode":"const body = $input.item.json.body;\nconst { doc_type, doc_number, username, tab_id } = body || {};\nif (!doc_type || !doc_number || !username) {\n  return { json: { _error: true, message: '缺少参数: doc_type, doc_number, username' } };\n}\nreturn { json: { _error: false, doc_type, doc_number, username, tab_id: tab_id || '' } };"},"id":"c0000015-0001-0001-0001-000000000004","name":"Validate Acquire","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,200]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._error }}","value2":true}]}},"id":"c0000015-0001-0001-0001-000000000005","name":"Has Error Acquire?","type":"n8n-nodes-base.if","typeVersion":1,"position":[-160,200]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, message: $json.message }) }}","options":{}},"id":"c0000015-0001-0001-0001-000000000006","name":"Error Acquire Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,80]},{"parameters":{"operation":"executeQuery","query":"SELECT locked_by, locked_session, locked_at FROM wms.wms_documents WHERE doc_type = $1 AND doc_number = $2","options":{"queryReplacement":"={{ [$json.doc_type, $json.doc_number] }}"}},"id":"c0000015-0001-0001-0001-000000000019","name":"查询锁状态","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[60,260],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}},"alwaysOutputData":true},{"parameters":{"jsCode":"// 两步走锁判定 - 4种情形\nconst row = $input.first().json;        // SELECT结果（行不存在时为空对象）\nconst req = $('Validate Acquire').first().json;  // 请求参数\nconst now = Date.now();\n\nconst lockedBy = row && row.locked_by ? row.locked_by : null;\nconst lockedSession = row && row.locked_session ? row.locked_session : null;\nconst lockedAt = row && row.locked_at ? new Date(row.locked_at).getTime() : 0;\nconst expired = lockedAt > 0 && (now - lockedAt) > 30 * 60 * 1000;\n\n// 情形1: 行不存在 / 无锁 / 已超时 → 允许加锁\nif (!lockedBy || expired) {\n  return { json: { _allow: true, ...req } };\n}\n// 情形2: 同账号同session（页面刷新续租） → 允许\nif (lockedBy === req.username && lockedSession === req.tab_id) {\n  return { json: { _allow: true, ...req } };\n}\n// 情形3: 同账号不同session（同账号另一浏览器） → 拒绝，给出明确提示\nif (lockedBy === req.username) {\n  return { json: { _allow: false, locked_by: lockedBy, message: '您在另一个窗口已打开此单据，请关闭其他窗口后重试' } };\n}\n// 情形4: 不同账号 → 拒绝\nreturn { json: { _allow: false, locked_by: lockedBy, message: '该单据正由 [' + lockedBy + '] 处理中，您暂时无法编辑' } };"},"id":"c0000015-0001-0001-0001-000000000020","name":"判定是否允许加锁","type":"n8n-nodes-base.code","typeVersion":2,"position":[280,260]},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json._allow }}","value2":true}]}},"id":"c0000015-0001-0001-0001-000000000021","name":"允许加锁?","type":"n8n-nodes-base.if","typeVersion":1,"position":[500,260]},{"parameters":{"operation":"executeQuery","query":"INSERT INTO wms.wms_documents (company_code, doc_type, doc_number, wms_status, locked_by, locked_at, locked_session, created_by) VALUES ($1, $2, $3, 'pending', $4, NOW(), $5, $6) ON CONFLICT (company_code, doc_type, doc_number) DO UPDATE SET locked_by = $7, locked_at = NOW(), locked_session = $8","options":{"queryReplacement":"={{ [$env.DP_COMPANY_CODE, $json.doc_type, $json.doc_number, $json.username, $json.tab_id, $json.username, $json.username, $json.tab_id] }}"}},"id":"c0000015-0001-0001-0001-000000000007","name":"写入锁","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[720,180],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: '锁定成功' }) }}","options":{}},"id":"c0000015-0001-0001-0001-000000000009","name":"Respond Lock OK","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[940,180]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, locked_by: $json.locked_by, message: $json.message }) }}","options":{}},"id":"c0000015-0001-0001-0001-000000000012","name":"Respond Lock Fail","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[720,360]},{"parameters":{"jsCode":"const body = $input.item.json.body;\nconst { doc_type, doc_number, username, tab_id } = body || {};\nif (!doc_type || !doc_number || !username) {\n  return { json: { _error: true, message: '缺少参数' } };\n}\nreturn { json: { _error: false, doc_type, doc_number, username, tab_id: tab_id || '' } };"},"id":"c0000015-0001-0001-0001-000000000013","name":"Validate Release","type":"n8n-nodes-base.code","typeVersion":2,"position":[-380,520]},{"parameters":{"operation":"executeQuery","query":"UPDATE wms.wms_documents SET locked_by = NULL, locked_at = NULL, locked_session = NULL WHERE doc_type = $1 AND doc_number = $2 AND (locked_by = $3 AND locked_session = $4 OR locked_at < NOW() - INTERVAL '30 minute')","options":{"queryReplacement":"={{ [$json.doc_type, $json.doc_number, $json.username, $json.tab_id] }}"}},"id":"c0000015-0001-0001-0001-000000000014","name":"Release Lock","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-160,520],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}}},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: true, message: '锁释放成功' }) }}","options":{}},"id":"c0000015-0001-0001-0001-000000000015","name":"Respond Release","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,520]},{"parameters":{"operation":"executeQuery","query":"SELECT locked_by, locked_at, doc_number, doc_type FROM wms.wms_documents WHERE doc_type = $1 AND doc_number = $2","options":{"queryReplacement":"={{ [$input.item.json.query.doc_type, $input.item.json.query.doc_number] }}"}},"id":"c0000015-0001-0001-0001-000000000016","name":"Check Lock","type":"n8n-nodes-base.postgres","typeVersion":2.5,"position":[-380,720],"credentials":{"postgres":{"id":"__CREDENTIAL_PG_ID__","name":"__CREDENTIAL_PG_NAME__"}},"alwaysOutputData":true},{"parameters":{"jsCode":"const row = $input.first().json;\nconst lockedBy = row.locked_by || null;\nconst lockedAt = row.locked_at || null;\nreturn { json: { success: true, locked: !!lockedBy, locked_by: lockedBy, locked_at: lockedAt } };"},"id":"c0000015-0001-0001-0001-000000000017","name":"Format Check Result","type":"n8n-nodes-base.code","typeVersion":2,"position":[-160,720]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{}},"id":"c0000015-0001-0001-0001-000000000018","name":"Respond Check","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[60,720]}],"connections":{"Webhook Acquire":{"main":[[{"node":"Validate Acquire","type":"main","index":0}]]},"Validate Acquire":{"main":[[{"node":"Has Error Acquire?","type":"main","index":0}]]},"Has Error Acquire?":{"main":[[{"node":"Error Acquire Response","type":"main","index":0}],[{"node":"查询锁状态","type":"main","index":0}]]},"查询锁状态":{"main":[[{"node":"判定是否允许加锁","type":"main","index":0}]]},"判定是否允许加锁":{"main":[[{"node":"允许加锁?","type":"main","index":0}]]},"允许加锁?":{"main":[[{"node":"写入锁","type":"main","index":0}],[{"node":"Respond Lock Fail","type":"main","index":0}]]},"写入锁":{"main":[[{"node":"Respond Lock OK","type":"main","index":0}]]},"Webhook Release":{"main":[[{"node":"Validate Release","type":"main","index":0}]]},"Validate Release":{"main":[[{"node":"Release Lock","type":"main","index":0}]]},"Release Lock":{"main":[[{"node":"Respond Release","type":"main","index":0}]]},"Webhook Check":{"main":[[{"node":"Check Lock","type":"main","index":0}]]},"Check Lock":{"main":[[{"node":"Format Check Result","type":"main","index":0}]]},"Format Check Result":{"main":[[{"node":"Respond Check","type":"main","index":0}]]}},"active":true,"settings":{"executionOrder":"v1"},"tags":[{"name":"WMS"}]}