apps/wf/wf1a-wo-lookup.json
{
  "name": "wf1a - WO查询(生产订单)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wms/wo",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "b0000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -600,
        300
      ],
      "webhookId": "wms-wo"
    },
    {
      "parameters": {
        "jsCode": "// 从URL路径提取单号: /webhook/wms/wo/26000123\nconst req = $input.item.json;\nlet docnum = '';\n\n// 尝试从query参数获取\nif (req.query && req.query.docnum) {\n  docnum = req.query.docnum;\n} else {\n  // 从URL路径提取\n  const url = req.headers && req.headers['x-original-url'] ? req.headers['x-original-url'] : (req.url || '');\n  const parts = url.split('/');\n  const lastPart = parts[parts.length - 1];\n  docnum = lastPart ? lastPart.split('?')[0] : '';\n}\n\nif (!docnum || docnum === 'wo' || docnum === 'undefined') {\n  return { json: { _error: true, success: false, message: '请提供生产订单号' } };\n}\n// SAP DocNum为INT类型，过滤非数字输入\nif (!/^\\d+$/.test(docnum)) {\n  return { json: { _error: true, success: false, message: '生产订单号必须为纯数字: ' + docnum } };\n}\n// 安全加固: 强制转为整数字符串，纵深防御\ndocnum = String(parseInt(docnum, 10));\nif (docnum === 'NaN') {\n  return { json: { _error: true, success: false, message: '单号解析失败' } };\n}\nreturn { json: { _error: false, docnum: docnum } };"
      },
      "id": "b0000001-0001-0001-0001-000000000002",
      "name": "Extract Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "b0000001-0001-0001-0001-000000000003",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {}
      },
      "id": "b0000001-0001-0001-0001-000000000004",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_config('app.company_code', $1, true);\nSELECT o.sap_doc_num AS \"DocNum\", o.sap_doc_entry AS \"DocEntry\",\n       o.item_code AS \"ItemCode\", o.item_name AS \"ItemName\",\n       COALESCE(ic.uom, '') AS uom,\n       COALESCE(ic.man_batch_num, 'N') AS \"ManBtchNum\",\n       o.planned_qty AS \"PlannedQty\",\n       COALESCE(o.actual_qty, 0) AS \"completedQty\",\n       o.sap_status AS \"Status\", o.due_date AS \"DueDate\",\n       o.warehouse_code AS \"whsCode\", '' AS \"whsName\",\n       o.sync_status AS \"SyncStatus\"\nFROM oms.orders o\nLEFT JOIN wms.wms_items_cache ic ON ic.company_code = o.company_code AND ic.item_code = o.item_code\nWHERE o.company_code = $1\n  AND o.doc_type = 'WO'\n  AND o.sap_doc_num = $2\n  AND o.parent_id IS NULL",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE, $('Extract Params').item.json.docnum] }}"
        }
      },
      "id": "b0000001-0001-0001-0001-000000000005",
      "name": "SAP查询",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        60,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.quantity, t.performed_by, t.remarks,\n       t.transaction_time, t.item_code, t.item_name,\n       d.id AS document_id, d.wms_status AS doc_wms_status\nFROM wms.wms_documents d\nLEFT JOIN wms.wms_transactions t ON t.document_id = d.id\nWHERE d.company_code = $1\n  AND d.doc_type = 'WO'\n  AND d.doc_number = $2\nORDER BY t.transaction_time DESC",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE, $('Extract Params').item.json.docnum] }}"
        }
      },
      "id": "b0000001-0001-0001-0001-000000000006",
      "name": "PG WMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        60,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 获取SAP结果 (try-catch保护: MS SQL凭证可能未配置)\nlet sapRows = [];\ntry {\n  sapRows = $('SAP查询').all().filter(r => !r.json.set_config);\n} catch(e) {\n  return { json: { success: false, message: 'SAP查询失败，请检查MS SQL凭证配置: ' + e.message } };\n}\n\nconst wmsRows = $('PG WMS').all();\n\n// 检查SAP结果\nif (!sapRows || sapRows.length === 0 || !sapRows[0].json.DocNum) {\n  return { json: { success: false, error_type: 'not_found', message: '未找到该订单' } };\n}\n\nconst sap = sapRows[0].json;\n\n// 计算WMS已收总量\nlet totalReceived = 0;\nlet docId = null;\nlet docWmsStatus = 'pending';\nconst transactions = [];\n\nfor (const r of wmsRows) {\n  if (r.json.doc_wms_status) docWmsStatus = r.json.doc_wms_status;\n  if (r.json.id) {\n    totalReceived += parseFloat(r.json.quantity || 0);\n    if (!docId) docId = r.json.document_id;\n    transactions.push({\n      transaction_time: r.json.transaction_time,\n      item_code: r.json.item_code || '',\n      item_name: r.json.item_name || '',\n      quantity: parseFloat(r.json.quantity),\n      performed_by: r.json.performed_by,\n      remarks: r.json.remarks || ''\n    });\n  }\n}\n\nreturn { json: {\n  success: true,\n  sap_order: {\n    docNum: String(sap.DocNum),\n    docEntry: sap.DocEntry,\n    docStatus: sap.Status || 'O',\n    itemCode: sap.ItemCode,\n    itemName: sap.ItemName || '',\n    plannedQty: parseFloat(sap.PlannedQty) || 0,\n    completedQty: parseFloat(sap.completedQty) || 0,\n    whsCode: sap.whsCode || '',\n    whsName: sap.whsName || '',\n    dueDate: sap.DueDate,\n    uom: sap.uom || 'PC'\n  },\n  wms_history: {\n    wms_status: docWmsStatus,\n    totalReceived: totalReceived,\n    transactions: transactions\n  },\n  wms_document_id: docId\n}};"
      },
      "id": "b0000001-0001-0001-0001-000000000007",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Merge Data').item.json) }}",
        "options": {}
      },
      "id": "b0000001-0001-0001-0001-000000000008",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// V19.3: Prepare Prefill - SAP 单行预填入 WMS (WO)\nconst data = $('Merge Data').item.json;\nif (!data.success || !data.sap_order) {\n  return { json: { _prefillSql: 'SELECT 1' } };\n}\nconst order = data.sap_order;\nconst cc = $env.DP_COMPANY_CODE;\nconst user = ($('Webhook').item.json.query && $('Webhook').item.json.query.user) || 'SYSTEM';\nfunction esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  let s = String(v).substring(0, 500).replace(/\u0000/g, '');\n  return \"'\" + s.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\") + \"'\";\n}\nfunction escDate(v) {\n  if (!v) return 'NULL';\n  const d = new Date(v);\n  return isNaN(d.getTime()) ? 'NULL' : \"'\" + d.toISOString().slice(0,10) + \"'\";\n}\nconst sql = `WITH doc AS (\n  INSERT INTO wms.wms_documents\n    (company_code, doc_type, doc_number, sap_doc_num, sap_doc_entry,\n     status, wms_status, business_partner, bp_name,\n     warehouse_code, created_by, doc_date, due_date)\n  VALUES (${esc(cc)}, 'WO', ${esc(order.docNum)}, ${esc(order.docNum)}, ${order.docEntry || 0},\n     'draft', 'pending', ${esc(order.itemCode)}, ${esc(order.itemName)},\n     ${esc(order.whsCode)}, ${esc(user)}, CURRENT_DATE, ${escDate(order.dueDate)})\n  ON CONFLICT (company_code, doc_type, doc_number) DO UPDATE SET\n    sap_doc_entry = EXCLUDED.sap_doc_entry,\n    created_by = CASE WHEN wms.wms_documents.created_by = 'SYSTEM' THEN EXCLUDED.created_by ELSE wms.wms_documents.created_by END,\n    business_partner = EXCLUDED.business_partner,\n    bp_name = EXCLUDED.bp_name,\n    due_date = EXCLUDED.due_date,\n    wms_status = wms.wms_documents.wms_status,\n    status = wms.wms_documents.status\n  RETURNING id\n)\nINSERT INTO wms.wms_document_lines\n  (document_id, line_num, item_code, item_name, uom,\n   planned_qty, actual_qty, warehouse_code, status, wms_status)\nVALUES\n  ((SELECT id FROM doc), 0, ${esc(order.itemCode)}, ${esc(order.itemName)}, ${esc(order.uom)},\n   ${order.plannedQty || 0}, 0, ${esc(order.whsCode)}, 'pending', 'pending')\nON CONFLICT (document_id, line_num) DO UPDATE SET\n  item_name = EXCLUDED.item_name,\n  uom = EXCLUDED.uom,\n  planned_qty = EXCLUDED.planned_qty,\n  warehouse_code = EXCLUDED.warehouse_code;`;\nreturn { json: { _prefillSql: sql } };"
      },
      "id": "c0000001-0001-0001-0001-000000000009",
      "name": "Prepare Prefill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._prefillSql }}",
        "options": {}
      },
      "id": "c0000001-0001-0001-0001-000000000010",
      "name": "Prefill WMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG WMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG WMS": {
      "main": [
        [
          {
            "node": "SAP查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAP查询": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Prepare Prefill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prefill": {
      "main": [
        [
          {
            "node": "Prefill WMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prefill WMS": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true,
  "tags": [
    {
      "name": "WMS"
    }
  ]
}