apps/wf/wf1c-so-lookup.json
{
  "name": "wf1c - SO查询(销售订单)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wms/so",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d0000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -600,
        300
      ],
      "webhookId": "wms-so"
    },
    {
      "parameters": {
        "jsCode": "// V1.1: 支持 DD 前缀 (OMS 配送单) 和纯数字 (SAP SO)\nconst req = $input.item.json;\nlet docnum = '';\nif (req.query && req.query.docnum) {\n  docnum = req.query.docnum;\n} else {\n  const url = req.headers && req.headers['x-original-url'] ? req.headers['x-original-url'] : (req.url || '');\n  const parts = url.split('/');\n  const lastPart = parts[parts.length - 1];\n  docnum = lastPart ? lastPart.split('?')[0] : '';\n}\nif (!docnum || docnum === 'so' || docnum === 'undefined') {\n  return { json: { _error: true, success: false, message: '请提供销售订单号' } };\n}\n// 支持 DD 前缀 (OMS) 或纯数字 (SAP)\nlet doc_source = 'sap';\nif (/^[Dd]{2}\\d+$/.test(docnum)) {\n  doc_source = 'oms';\n  docnum = docnum.toUpperCase();\n} else if (/^\\d+$/.test(docnum)) {\n  doc_source = 'sap';\n  docnum = String(parseInt(docnum, 10));\n  if (docnum === 'NaN') {\n    return { json: { _error: true, success: false, message: '单号解析失败' } };\n  }\n} else {\n  return { json: { _error: true, success: false, message: '单号格式无效: ' + docnum + ' (纯数字或DD+数字)' } };\n}\nreturn { json: { _error: false, docnum: docnum, doc_source: doc_source } };"
      },
      "id": "d0000001-0001-0001-0001-000000000002",
      "name": "Extract Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "d0000001-0001-0001-0001-000000000003",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {}
      },
      "id": "d0000001-0001-0001-0001-000000000004",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.quantity, t.performed_by, t.remarks,\n       t.transaction_time, t.item_code, t.item_name,\n       dl.line_num, d.id AS document_id, d.wms_status AS doc_wms_status\nFROM wms.wms_documents d\nLEFT JOIN wms.wms_transactions t ON t.document_id = d.id\nLEFT JOIN wms.wms_document_lines dl ON t.line_id = dl.id\nWHERE d.company_code = $1\n  AND d.doc_type = $2\n  AND d.doc_number = $3\nORDER BY t.transaction_time DESC",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE, $('Extract Params').item.json.doc_source === 'oms' ? 'DD' : 'SO', $('Extract Params').item.json.docnum] }}"
        }
      },
      "id": "d0000001-0001-0001-0001-000000000006",
      "name": "PG WMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        60,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Extract Params').item.json.doc_source }}",
              "operation": "equal",
              "value2": "oms"
            }
          ]
        }
      },
      "id": "d0000001-0001-0001-0001-000000000011",
      "name": "Is DD?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        60,
        440
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_config('app.company_code', $1, true);\nSELECT o.sap_doc_num AS \"DocNum\", o.sap_doc_entry AS \"DocEntry\",\n       o.business_partner AS \"CardCode\", o.bp_name AS \"CardName\",\n       o.sap_status AS \"DocStatus\", o.due_date AS \"DocDueDate\",\n       ol.line_num AS \"LineNum\", ol.item_code AS \"ItemCode\",\n       ol.item_name AS \"ItemName\", COALESCE(ol.uom, ic.uom, '') AS uom,\n       ol.quantity AS \"Quantity\",\n       COALESCE(ol.delivered_qty, 0) AS \"DelivrdQty\",\n       COALESCE(ol.open_quantity, 0) AS \"OpenQty\",\n       CASE WHEN COALESCE(ol.open_quantity, 0) <= 0 THEN 'C' ELSE 'O' END AS \"LineStatus\",\n       ol.warehouse_code AS \"WhsCode\", '' AS \"WhsName\",\n       o.sync_status AS \"SyncStatus\"\nFROM oms.orders o\nJOIN oms.order_lines ol ON ol.order_id = o.id AND ol.company_code = o.company_code\nLEFT JOIN wms.wms_items_cache ic ON ic.company_code = o.company_code AND ic.item_code = ol.item_code\nWHERE o.company_code = $1\n  AND o.doc_type = 'SO'\n  AND o.sap_doc_num = $2\n  AND o.parent_id IS NULL\nORDER BY ol.line_num",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE, $('Extract Params').item.json.docnum] }}"
        }
      },
      "id": "d0000001-0001-0001-0001-000000000005",
      "name": "SAP查询",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        340,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(o.sap_doc_num, o.doc_number) AS \"DocNum\",\n  o.sap_doc_entry AS \"DocEntry\",\n  o.business_partner AS \"CardCode\", o.bp_name AS \"CardName\",\n  o.sap_status AS \"DocStatus\", o.due_date AS \"DocDueDate\",\n  o.oms_status,\n  ol.line_num AS \"LineNum\", ol.item_code AS \"ItemCode\",\n  ol.item_name AS \"ItemName\", ol.uom,\n  ol.quantity AS \"Quantity\",\n  COALESCE(ol.wms_actual_qty, 0) AS \"DelivrdQty\",\n  (ol.quantity - COALESCE(ol.wms_actual_qty, 0)) AS \"OpenQty\",\n  CASE WHEN ol.wms_actual_qty >= ol.quantity THEN 'C' ELSE 'O' END AS \"LineStatus\",\n  ol.warehouse_code AS \"WhsCode\", ol.warehouse_code AS \"WhsName\",\n  ol.source_doc_number, ol.source_line_num,\n  sol.quantity AS source_planned_qty\nFROM oms.orders o\nLEFT JOIN oms.order_lines ol ON ol.order_id = o.id\nLEFT JOIN oms.orders src_ord ON src_ord.company_code = o.company_code\n  AND src_ord.doc_type = 'SO'\n  AND src_ord.sap_doc_num = ol.source_doc_number\n  AND src_ord.parent_id IS NULL\nLEFT JOIN oms.order_lines sol ON sol.order_id = src_ord.id AND sol.line_num = ol.source_line_num\nWHERE o.company_code = $1\n  AND o.doc_number = $2\nORDER BY ol.line_num",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE, $('Extract Params').item.json.docnum] }}"
        }
      },
      "id": "d0000001-0001-0001-0001-000000000012",
      "name": "OMS查询",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        340,
        340
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// V1.2: 合并 SAP 或 OMS 数据 + WMS 历史 (防御性 PG WMS 访问)\nconst docSource = $('Extract Params').item.json.doc_source || 'sap';\nlet dataRows = [];\ntry {\n  if (docSource === 'oms') {\n    dataRows = $('OMS查询').all().filter(r => !r.json.set_config);\n  } else {\n    dataRows = $('SAP查询').all().filter(r => !r.json.set_config);\n  }\n} catch(e) {\n  const src = docSource === 'oms' ? 'OMS' : 'SAP';\n  return { json: { success: false, message: src + '查询失败: ' + e.message } };\n}\n\nlet wmsRows = [];\ntry { wmsRows = $('PG WMS').all(); } catch(e) { /* PG WMS 可能未执行 */ }\n\nif (!dataRows || dataRows.length === 0 || !dataRows[0].json.DocNum) {\n  if (docSource !== 'oms') {\n    return { json: { success: false, error_type: 'not_found', message: '未找到该订单' } };\n  }\n  return { json: { success: false, message: '未在OMS中找到该订单' } };\n}\n\nconst first = dataRows[0].json;\n// 去重: PG WMS 多行导致 OMS/SAP 查询重复执行，按 LineNum 去重\nconst lineMap = {};\ndataRows.forEach(r => { if (r.json.LineNum != null) lineMap[r.json.LineNum] = r; });\nconst dedupedRows = Object.values(lineMap);\nconst lines = dedupedRows.map(r => ({\n  lineNum: r.json.LineNum,\n  itemCode: r.json.ItemCode,\n  itemName: r.json.ItemName || '',\n  quantity: parseFloat(r.json.Quantity) || 0,\n  deliveredQty: (docSource === 'oms') ? 0 : (parseFloat(r.json.DelivrdQty) || 0),\n  openQty: (docSource === 'oms') ? (parseFloat(r.json.Quantity) || 0) : (parseFloat(r.json.OpenQty) || 0),\n  lineStatus: r.json.LineStatus || 'O',\n  uom: r.json.uom || '',\n  whsCode: r.json.WhsCode || '',\n  sourceDocNumber: r.json.source_doc_number || '',\n  sourceLineNum: r.json.source_line_num,\n  sourcePlannedQty: r.json.source_planned_qty != null ? parseFloat(r.json.source_planned_qty) : null\n}));\n\nconst lineReceipts = {};\nconst transactions = [];\nlet docWmsStatus = 'pending';\nfor (const r of wmsRows) {\n  if (r.json.doc_wms_status) docWmsStatus = r.json.doc_wms_status;\n  if (r.json.id) {\n    const ln = r.json.line_num;\n    if (ln !== null && ln !== undefined) {\n      lineReceipts[ln] = (lineReceipts[ln] || 0) + parseFloat(r.json.quantity || 0);\n    }\n    transactions.push({\n      transaction_time: r.json.transaction_time,\n      item_code: r.json.item_code || '',\n      item_name: r.json.item_name || '',\n      quantity: parseFloat(r.json.quantity),\n      performed_by: r.json.performed_by,\n      remarks: r.json.remarks || ''\n    });\n  }\n}\n\n// DD: 传递 oms_status 用于 split 检测\nconst omsStatus = first.oms_status || '';\n// DD: 提取源单号列表 (抬头显示)\nconst sourceDocs = [...new Set(lines.filter(l => l.sourceDocNumber).map(l => l.sourceDocNumber))];\n\nreturn { json: {\n  success: true,\n  data_source: docSource,\n  sap_order: {\n    docNum: String(first.DocNum),\n    docEntry: first.DocEntry,\n    docType: docSource === 'oms' ? 'DD' : 'SO',\n    cardCode: first.CardCode || '',\n    cardName: first.CardName || '',\n    docDueDate: first.DocDueDate,\n    docStatus: first.DocStatus || 'O',\n    wmsStatus: omsStatus === 'split' ? 'split' : undefined,\n    sourceDocs: sourceDocs,\n    lines: lines\n  },\n  wms_history: {\n    wms_status: docWmsStatus,\n    lineReceipts: lineReceipts,\n    transactions: transactions\n  }\n}};"
      },
      "id": "d0000001-0001-0001-0001-000000000007",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        440
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Merge Data').item.json) }}",
        "options": {}
      },
      "id": "d0000001-0001-0001-0001-000000000008",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1280,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// V19.4: Prepare Prefill - SAP/OMS 全量行预填入 WMS\nconst data = $('Merge Data').item.json;\nif (!data.success || !data.sap_order || !data.sap_order.lines || data.sap_order.lines.length === 0) {\n  return { json: { _prefillSql: 'SELECT 1' } };\n}\nconst order = data.sap_order;\nconst docType = order.docType || 'SO';\nconst cc = $env.DP_COMPANY_CODE;\nconst user = ($('Webhook').item.json.query && $('Webhook').item.json.query.user) || 'SYSTEM';\nfunction esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  let s = String(v).substring(0, 500).replace(/\\u0000/g, '');\n  return \"'\" + s.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\") + \"'\";\n}\nfunction escDate(v) {\n  if (!v) return 'NULL';\n  const d = new Date(v);\n  return isNaN(d.getTime()) ? 'NULL' : \"'\" + d.toISOString().slice(0,10) + \"'\";\n}\nconst whsCode = order.lines[0].whsCode || '';\n// 去重: 防止重复 line_num 导致 ON CONFLICT 错误\nconst lineMap = {};\norder.lines.forEach(l => { lineMap[l.lineNum] = l; });\nconst uniqueLines = Object.values(lineMap);\nconst lineVals = uniqueLines.map(l => {\n  // DD: planned_qty 用 quantity (固定计划数); SO: 用 openQty (SAP 剩余)\n  const plannedQty = (docType === 'DD') ? (parseFloat(l.quantity) || 0) : (parseFloat(l.openQty) || 0);\n  return '((SELECT id FROM doc), ' + l.lineNum + ', ' +\n  esc(l.itemCode) + ', ' + esc(l.itemName) + ', ' + esc(l.uom) + ', ' +\n  plannedQty + \", 0, \" + esc(l.whsCode) + \", 'pending', 'pending')\";\n}).join(',\\n  ');\nlet sql = `WITH doc AS (\n  INSERT INTO wms.wms_documents\n    (company_code, doc_type, doc_number, sap_doc_num, sap_doc_entry,\n     status, wms_status, business_partner, bp_name,\n     warehouse_code, created_by, doc_date, due_date)\n  VALUES (${esc(cc)}, ${esc(docType)}, ${esc(order.docNum)}, ${docType === 'DD' ? 'NULL' : esc(order.docNum)}, ${order.docEntry || 0},\n     'draft',\n     'pending', ${esc(order.cardCode)}, ${esc(order.cardName)},\n     ${esc(whsCode)}, ${esc(user)}, CURRENT_DATE, ${escDate(order.docDueDate)})\n  ON CONFLICT (company_code, doc_type, doc_number) DO UPDATE SET\n    sap_doc_entry = EXCLUDED.sap_doc_entry,\n    created_by = CASE WHEN wms.wms_documents.created_by = 'SYSTEM' THEN EXCLUDED.created_by ELSE wms.wms_documents.created_by END,\n    business_partner = EXCLUDED.business_partner,\n    bp_name = EXCLUDED.bp_name,\n    due_date = EXCLUDED.due_date,\n    wms_status = wms.wms_documents.wms_status,\n    status = wms.wms_documents.status\n  RETURNING id\n)\nINSERT INTO wms.wms_document_lines\n  (document_id, line_num, item_code, item_name, uom,\n   planned_qty, actual_qty, warehouse_code, status, wms_status)\nVALUES\n  ${lineVals}\nON CONFLICT (document_id, line_num) DO UPDATE SET\n  item_name = EXCLUDED.item_name,\n  uom = EXCLUDED.uom,\n  planned_qty = EXCLUDED.planned_qty,\n  warehouse_code = EXCLUDED.warehouse_code;`;\n// DD: 关联 OMS→WMS (启用跨 schema 触发器同步)\nif (docType === 'DD') {\n  sql += ';\\nUPDATE oms.orders SET wms_document_id = ' + '(SELECT id FROM wms.wms_documents WHERE company_code = ' + esc(cc) + \" AND doc_type = 'DD' AND doc_number = \" + esc(order.docNum) + ')' + ' WHERE company_code = ' + esc(cc) + \" AND doc_type = 'DD' AND doc_number = \" + esc(order.docNum) + ' AND wms_document_id IS NULL';\n}\nreturn { json: { _prefillSql: sql } };"
      },
      "id": "c0000001-0001-0001-0001-000000000009",
      "name": "Prepare Prefill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._prefillSql }}",
        "options": {}
      },
      "id": "c0000001-0001-0001-0001-000000000010",
      "name": "Prefill WMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1060,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG WMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is DD?": {
      "main": [
        [
          {
            "node": "OMS查询",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SAP查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG WMS": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is DD?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAP查询": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OMS查询": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Prepare Prefill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prefill": {
      "main": [
        [
          {
            "node": "Prefill WMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prefill WMS": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true,
  "tags": [
    {
      "name": "WMS"
    },
    {
      "name": "OMS"
    }
  ]
}