apps/wf/wf1e-pi-lookup.json
{
  "name": "wf1e - PI查询(生产领料BOM)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "wms/pi",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -600,
        300
      ],
      "webhookId": "wms-pi"
    },
    {
      "parameters": {
        "jsCode": "const req = $input.item.json;\nlet docnum = '';\nif (req.query && req.query.docnum) {\n  docnum = req.query.docnum;\n} else {\n  const url = req.headers && req.headers['x-original-url'] ? req.headers['x-original-url'] : (req.url || '');\n  const parts = url.split('/');\n  const lastPart = parts[parts.length - 1];\n  docnum = lastPart ? lastPart.split('?')[0] : '';\n}\nif (!docnum || docnum === 'pi' || docnum === 'undefined') {\n  return { json: { _error: true, success: false, message: '请提供生产订单号' } };\n}\n// SAP DocNum为INT类型，过滤非数字输入\nif (!/^\\d+$/.test(docnum)) {\n  return { json: { _error: true, success: false, message: '生产订单号必须为纯数字: ' + docnum } };\n}\n// 安全加固: 强制转为整数字符串，纵深防御\ndocnum = String(parseInt(docnum, 10));\nif (docnum === 'NaN') {\n  return { json: { _error: true, success: false, message: '单号解析失败' } };\n}\nreturn { json: { _error: false, docnum: docnum } };"
      },
      "id": "e0000001-0001-0001-0001-000000000002",
      "name": "Extract Params",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -380,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json._error }}",
              "value2": true
            }
          ]
        }
      },
      "id": "e0000001-0001-0001-0001-000000000003",
      "name": "Has Error?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -160,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: $json.message }) }}",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000004",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        60,
        160
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT t.id, t.quantity, t.performed_by, t.remarks,\n       t.transaction_time, t.item_code, t.item_name,\n       dl.line_num, d.id AS document_id, d.wms_status AS doc_wms_status\nFROM wms.wms_documents d\nLEFT JOIN wms.wms_transactions t ON t.document_id = d.id\nLEFT JOIN wms.wms_document_lines dl ON t.line_id = dl.id\nWHERE d.company_code = $1\n  AND d.doc_type = 'PI'\n  AND d.doc_number = $2\nORDER BY t.transaction_time DESC",
        "options": {
          "queryReplacement": "={{ [$env.DP_COMPANY_CODE, $('Extract Params').item.json.docnum] }}"
        }
      },
      "id": "e0000001-0001-0001-0001-000000000006",
      "name": "PG WMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        60,
        640
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "-- ⚠️ 用户需要手动配置MS SQL凭证并调整此SQL\nSELECT\n    o.DocNum, o.DocEntry, o.ItemCode AS productCode,\n    ip.ItemName AS productName,\n    o.PlannedQty, o.CmpltQty AS completedQty,\n    o.Status, o.DueDate,\n    l.LineNum, l.ItemCode, i.ItemName, i.InvntryUom AS uom,\n    l.BaseQty, l.IssuedQty, l.PlannedQty AS linePlannedQty,\n    l.Warehouse AS whsCode, w.WhsName\nFROM OWOR o\nJOIN WOR1 l ON o.DocEntry = l.DocEntry\nLEFT JOIN OITM i ON l.ItemCode = i.ItemCode\nLEFT JOIN OITM ip ON o.ItemCode = ip.ItemCode\nLEFT JOIN OWHS w ON l.Warehouse = w.WhsCode\nWHERE o.DocNum = {{ parseInt($('Extract Params').item.json.docnum) }}\n  AND l.ItemType = 4\nORDER BY l.LineNum",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000005",
      "name": "SAP查询",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [
        60,
        440
      ],
      "alwaysOutputData": true,
      "credentials": {
        "microsoftSql": {
          "id": "__CREDENTIAL_MSSQL_ID__",
          "name": "__CREDENTIAL_MSSQL_NAME__"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// 顺序执行: PG WMS → SAP查询 → Merge Data\n// SAP结果在 $('SAP查询'), WMS结果在 $('PG WMS')\nlet sapRows = [];\ntry {\n  sapRows = $('SAP查询').all();\n} catch(e) {\n  return { json: { success: false, message: 'SAP查询失败，请检查MS SQL凭证配置: ' + e.message } };\n}\n\nconst wmsRows = $('PG WMS').all();\n\nif (!sapRows || sapRows.length === 0 || !sapRows[0].json.DocNum) {\n  return { json: { success: false, message: '未在SAP中找到该生产订单' } };\n}\n\nconst first = sapRows[0].json;\n// 去重: PG WMS 多行导致 SAP 查询重复执行，按 LineNum 去重\nconst lineMap = {};\nsapRows.forEach(r => { if (r.json.LineNum != null) lineMap[r.json.LineNum] = r; });\nconst dedupedRows = Object.values(lineMap);\nconst lines = dedupedRows.map(r => ({\n  lineNum: r.json.LineNum,\n  itemCode: r.json.ItemCode,\n  itemName: r.json.ItemName || '',\n  baseQty: parseFloat(r.json.BaseQty) || 0,\n  plannedQty: parseFloat(r.json.linePlannedQty) || 0,\n  issuedQty: parseFloat(r.json.IssuedQty) || 0,\n  lineStatus: (parseFloat(r.json.IssuedQty) || 0) >= (parseFloat(r.json.linePlannedQty) || 0) ? 'C' : 'O',\n  whsCode: r.json.whsCode || '',\n  uom: r.json.uom || ''\n}));\n\nconst lineReceipts = {};\nconst transactions = [];\nlet docWmsStatus = 'pending';\nfor (const r of wmsRows) {\n  if (r.json.doc_wms_status) docWmsStatus = r.json.doc_wms_status;\n  if (r.json.id) {\n    const ln = r.json.line_num;\n    if (ln !== null && ln !== undefined) {\n      lineReceipts[ln] = (lineReceipts[ln] || 0) + parseFloat(r.json.quantity || 0);\n    }\n    transactions.push({\n      transaction_time: r.json.transaction_time,\n      item_code: r.json.item_code || '',\n      item_name: r.json.item_name || '',\n      quantity: parseFloat(r.json.quantity),\n      performed_by: r.json.performed_by,\n      remarks: r.json.remarks || ''\n    });\n  }\n}\n\nreturn { json: {\n  success: true,\n  sap_order: {\n    docNum: String(first.DocNum),\n    docEntry: first.DocEntry,\n    status: first.Status,\n    productCode: first.productCode || '',\n    productName: first.productName || '',\n    plannedQty: parseFloat(first.PlannedQty) || 0,\n    completedQty: parseFloat(first.completedQty) || 0,\n    dueDate: first.DueDate,\n    uom: first.uom || '',\n    whsCode: first.whsCode || '',\n    lines: lines\n  },\n  wms_history: {\n    wms_status: docWmsStatus,\n    lineReceipts: lineReceipts,\n    transactions: transactions\n  }\n}};"
      },
      "id": "e0000001-0001-0001-0001-000000000007",
      "name": "Merge Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        540
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($('Merge Data').item.json) }}",
        "options": {}
      },
      "id": "e0000001-0001-0001-0001-000000000008",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1000,
        540
      ]
    },
    {
      "parameters": {
        "jsCode": "// V19.3: Prepare Prefill - SAP 全量行预填入 WMS (PI)\nconst data = $('Merge Data').item.json;\nif (!data.success || !data.sap_order || !data.sap_order.lines || data.sap_order.lines.length === 0) {\n  return { json: { _prefillSql: 'SELECT 1' } };\n}\nconst order = data.sap_order;\nconst cc = $env.DP_COMPANY_CODE;\nconst user = ($('Webhook').item.json.query && $('Webhook').item.json.query.user) || 'SYSTEM';\nfunction esc(v) {\n  if (v === null || v === undefined) return 'NULL';\n  let s = String(v).substring(0, 500).replace(/\u0000/g, '');\n  return \"'\" + s.replace(/\\\\/g, '\\\\\\\\').replace(/'/g, \"''\") + \"'\";\n}\nfunction escDate(v) {\n  if (!v) return 'NULL';\n  const d = new Date(v);\n  return isNaN(d.getTime()) ? 'NULL' : \"'\" + d.toISOString().slice(0,10) + \"'\";\n}\nconst whsCode = order.whsCode || (order.lines[0].whsCode || '');\nconst lineVals = order.lines.map(l =>\n  '((SELECT id FROM doc), ' + l.lineNum + ', ' +\n  esc(l.itemCode) + ', ' + esc(l.itemName) + ', ' + esc(l.uom) + ', ' +\n  (parseFloat(l.baseQty) || 0) + \", 0, \" + esc(l.whsCode) + \", 'pending', 'pending')\"\n).join(',\\n  ');\nconst sql = `WITH doc AS (\n  INSERT INTO wms.wms_documents\n    (company_code, doc_type, doc_number, sap_doc_num, sap_doc_entry,\n     status, wms_status, business_partner, bp_name,\n     warehouse_code, created_by, doc_date, due_date)\n  VALUES (${esc(cc)}, 'PI', ${esc(order.docNum)}, ${esc(order.docNum)}, ${order.docEntry || 0},\n     'draft', 'pending', ${esc(order.productCode)}, ${esc(order.productName)},\n     ${esc(whsCode)}, ${esc(user)}, CURRENT_DATE, ${escDate(order.dueDate)})\n  ON CONFLICT (company_code, doc_type, doc_number) DO UPDATE SET\n    sap_doc_entry = EXCLUDED.sap_doc_entry,\n    created_by = CASE WHEN wms.wms_documents.created_by = 'SYSTEM' THEN EXCLUDED.created_by ELSE wms.wms_documents.created_by END,\n    business_partner = EXCLUDED.business_partner,\n    bp_name = EXCLUDED.bp_name,\n    due_date = EXCLUDED.due_date,\n    wms_status = wms.wms_documents.wms_status,\n    status = wms.wms_documents.status\n  RETURNING id\n)\nINSERT INTO wms.wms_document_lines\n  (document_id, line_num, item_code, item_name, uom,\n   planned_qty, actual_qty, warehouse_code, status, wms_status)\nVALUES\n  ${lineVals}\nON CONFLICT (document_id, line_num) DO UPDATE SET\n  item_name = EXCLUDED.item_name,\n  uom = EXCLUDED.uom,\n  planned_qty = EXCLUDED.planned_qty,\n  warehouse_code = EXCLUDED.warehouse_code;`;\nreturn { json: { _prefillSql: sql } };"
      },
      "id": "c0000001-0001-0001-0001-000000000009",
      "name": "Prepare Prefill",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        540
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json._prefillSql }}",
        "options": {}
      },
      "id": "c0000001-0001-0001-0001-000000000010",
      "name": "Prefill WMS",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        780,
        540
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "__CREDENTIAL_PG_ID__",
          "name": "__CREDENTIAL_PG_NAME__"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Params",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Params": {
      "main": [
        [
          {
            "node": "Has Error?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Error?": {
      "main": [
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "PG WMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PG WMS": {
      "main": [
        [
          {
            "node": "SAP查询",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SAP查询": {
      "main": [
        [
          {
            "node": "Merge Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Data": {
      "main": [
        [
          {
            "node": "Prepare Prefill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Prefill": {
      "main": [
        [
          {
            "node": "Prefill WMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prefill WMS": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "active": true,
  "tags": [
    {
      "name": "WMS"
    }
  ]
}