apps/wf/wf20d-oms-sync-verify.json
{
  "name": "wf20d - OMS同步数量校验",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "wms/oms/sync/verify-qty",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "o20d0001-0001-0001-0001-000000000001",
      "name": "校验触发",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [-400, 300],
      "webhookId": "wms-oms-sync-verify-qty"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT set_config('app.company_code', $1, false) AS cc",
        "options": { "queryReplacement": "={{ [$env.DP_COMPANY_CODE] }}" }
      },
      "id": "o20d0001-0001-0001-0001-000000000002",
      "name": "RLS set_config",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [-100, 300],
      "credentials": { "postgres": { "id": "__CREDENTIAL_PG_WMS__", "name": "__CREDENTIAL_PG_WMS_NAME__" } }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT doc_type, TO_CHAR(sap_update_date, 'YYYY-MM') AS month_key, COUNT(*) AS dp_count FROM oms.orders WHERE company_code = current_setting('app.company_code') AND sap_update_date IS NOT NULL GROUP BY doc_type, TO_CHAR(sap_update_date, 'YYYY-MM') ORDER BY doc_type, month_key",
        "options": {}
      },
      "id": "o20d0001-0001-0001-0001-000000000003",
      "name": "DP实时聚合",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [200, 300],
      "alwaysOutputData": true,
      "credentials": { "postgres": { "id": "__CREDENTIAL_PG_WMS__", "name": "__CREDENTIAL_PG_WMS_NAME__" } }
    },
    {
      "parameters": {
        "jsCode": "// 准备 SAP 查询起始日期\nconst startStr = $env.DP_OMS_SYNC_START_DATE || '20240101';\nconst startDate = startStr.slice(0,4) + '-' + startStr.slice(4,6) + '-01';\nreturn { json: { start_date: startDate } };"
      },
      "id": "o20d0001-0001-0001-0001-000000000009",
      "name": "准备日期",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SET NOCOUNT ON;\nSELECT 'SO' AS doc_type,\n       CONVERT(varchar(7), UpdateDate, 120) AS month_key,\n       COUNT(DISTINCT DocEntry) AS sap_count\nFROM ORDR WITH (NOLOCK)\nWHERE UpdateDate >= '{{ $json.start_date }}'\nGROUP BY CONVERT(varchar(7), UpdateDate, 120)\nUNION ALL\nSELECT 'PO',\n       CONVERT(varchar(7), UpdateDate, 120),\n       COUNT(DISTINCT DocEntry)\nFROM OPOR WITH (NOLOCK)\nWHERE UpdateDate >= '{{ $json.start_date }}'\nGROUP BY CONVERT(varchar(7), UpdateDate, 120)\nUNION ALL\nSELECT 'WO',\n       CONVERT(varchar(7), T0.UpdateDate, 120),\n       COUNT(DISTINCT T0.DocEntry)\nFROM OWOR T0 WITH (NOLOCK)\nINNER JOIN WOR1 T1 WITH (NOLOCK) ON T0.DocEntry = T1.DocEntry AND T1.ItemType = 4\nWHERE T0.UpdateDate >= '{{ $json.start_date }}'\nGROUP BY CONVERT(varchar(7), T0.UpdateDate, 120)\nUNION ALL\nSELECT 'TR',\n       CONVERT(varchar(7), UpdateDate, 120),\n       COUNT(DISTINCT DocEntry)\nFROM OWTQ WITH (NOLOCK)\nWHERE UpdateDate >= '{{ $json.start_date }}'\nGROUP BY CONVERT(varchar(7), UpdateDate, 120)\nORDER BY doc_type, month_key",
        "options": {}
      },
      "id": "o20d0001-0001-0001-0001-000000000004",
      "name": "SAP全量计数",
      "type": "n8n-nodes-base.microsoftSql",
      "typeVersion": 1,
      "position": [800, 300],
      "alwaysOutputData": true,
      "credentials": { "microsoftSql": { "id": "__CREDENTIAL_MSSQL_SAP__", "name": "__CREDENTIAL_MSSQL_SAP_NAME__" } }
    },
    {
      "parameters": {
        "jsCode": "// 动态 vs 动态比对，|diff| > 2 才触发重置（容忍 NOLOCK 微小波动）\nconst dpRows = $('DP实时聚合').all().map(r => r.json);\nconst sapRows = $input.all().map(r => r.json).filter(r => r.doc_type && r.month_key);\n\n// SAP 映射\nconst sapMap = new Map();\nsapRows.forEach(r => sapMap.set(`${r.doc_type}_${r.month_key}`, Number(r.sap_count) || 0));\n\n// DP 映射\nconst dpMap = new Map();\ndpRows.forEach(r => dpMap.set(`${r.doc_type}_${r.month_key}`, Number(r.dp_count) || 0));\n\n// 所有月份并集\nconst allKeys = new Set([...sapMap.keys(), ...dpMap.keys()]);\nconst toReset = [];\nconst report = [];\n\nallKeys.forEach(key => {\n  const parts = key.split('_');\n  const docType = parts[0];\n  const monthKey = parts[1];\n  const sapCnt = sapMap.get(key) || 0;\n  const dpCnt = dpMap.get(key) || 0;\n  const diff = sapCnt - dpCnt;\n  const needReset = Math.abs(diff) > 2;\n  if (needReset) toReset.push({ doc_type: docType, month_key: monthKey, sap_count: sapCnt });\n  if (diff !== 0) report.push({ doc_type: docType, month: monthKey, dp_count: dpCnt, sap_count: sapCnt, diff, reset: needReset });\n});\n\nreturn { json: { to_reset: toReset, report, reset_count: toReset.length } };"
      },
      "id": "o20d0001-0001-0001-0001-000000000005",
      "name": "汇总比对",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [{ "value1": "={{ $json.reset_count }}", "operation": "larger", "value2": 0 }]
        }
      },
      "id": "o20d0001-0001-0001-0001-000000000006",
      "name": "有差异?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1400, 300]
    },
    {
      "parameters": {
        "jsCode": "// 生成 UPDATE SQL: 重置差异月份 status='pending'，写入 sap_count\nconst toReset = $json.to_reset;\nconst companyCode = ($env.DP_COMPANY_CODE || '').replace(/'/g, \"''\");\n\nconst conditions = toReset.map(r => {\n  const monthStart = r.month_key + '-01';\n  return `(doc_type='${r.doc_type}' AND month_start='${monthStart}')`;\n}).join(' OR ');\n\nconst sapCaseWhen = toReset.map(r =>\n  `WHEN doc_type='${r.doc_type}' AND month_start='${r.month_key}-01' THEN ${r.sap_count}`\n).join(' ');\n\nconst sql = `UPDATE oms.sync_progress SET status='pending', sap_count=CASE ${sapCaseWhen} ELSE sap_count END, error_message='Layer2数量校验差异自动重置', started_at=NULL, completed_at=NULL WHERE company_code='${companyCode}' AND (${conditions}) AND status='completed';`;\n\nreturn { json: { sql, reset_count: toReset.length, report: $('汇总比对').first().json.report } };"
      },
      "id": "o20d0001-0001-0001-0001-000000000007",
      "name": "生成修复SQL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1700, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.sql }}",
        "options": {}
      },
      "id": "o20d0001-0001-0001-0001-000000000010",
      "name": "写入修复",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [2000, 200],
      "credentials": { "postgres": { "id": "__CREDENTIAL_PG_WMS__", "name": "__CREDENTIAL_PG_WMS_NAME__" } }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://dp-wf:5678/webhook/wms/oms/sync/next",
        "sendBody": true,
        "bodyParameters": { "parameters": [] },
        "options": { "timeout": 5000 }
      },
      "id": "o20d0001-0001-0001-0001-000000000011",
      "name": "触发执行器",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2300, 200],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, reset_count: $('生成修复SQL').first().json.reset_count, report: $('生成修复SQL').first().json.report, message: '校验完成，' + $('生成修复SQL').first().json.reset_count + ' 个月份差异已重置并触发重新同步' }) }}",
        "options": {}
      },
      "id": "o20d0001-0001-0001-0001-000000000012",
      "name": "有差异响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2600, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, reset_count: 0, report: $('汇总比对').first().json.report, message: '校验完成，所有月份数量一致（容忍阈值 ±2）' }) }}",
        "options": {}
      },
      "id": "o20d0001-0001-0001-0001-000000000008",
      "name": "无差异响应",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1700, 420]
    }
  ],
  "connections": {
    "校验触发": { "main": [[{ "node": "RLS set_config", "type": "main", "index": 0 }]] },
    "RLS set_config": { "main": [[{ "node": "DP实时聚合", "type": "main", "index": 0 }]] },
    "DP实时聚合": { "main": [[{ "node": "准备日期", "type": "main", "index": 0 }]] },
    "准备日期": { "main": [[{ "node": "SAP全量计数", "type": "main", "index": 0 }]] },
    "SAP全量计数": { "main": [[{ "node": "汇总比对", "type": "main", "index": 0 }]] },
    "汇总比对": { "main": [[{ "node": "有差异?", "type": "main", "index": 0 }]] },
    "有差异?": {
      "main": [
        [{ "node": "生成修复SQL", "type": "main", "index": 0 }],
        [{ "node": "无差异响应", "type": "main", "index": 0 }]
      ]
    },
    "生成修复SQL": { "main": [[{ "node": "写入修复", "type": "main", "index": 0 }]] },
    "写入修复": { "main": [[{ "node": "触发执行器", "type": "main", "index": 0 }]] },
    "触发执行器": { "main": [[{ "node": "有差异响应", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" }
}
